<ng-container *ngIf="actions">
    <ng-container *ngFor="let item of actions | toArray">
        <button
            (click)="action(item)"
            class="actions-button"
            mat-raised-button
            color="primary"
        >
            {{ item.value.label | translate }}
        </button>
    </ng-container>
</ng-container>
<ng-container *ngIf="!actions">
    <ng-content></ng-content>
</ng-container>
<ng-container *ngIf="enableCancel">
    <button 
        mat-raised-button color="primary" 
        class="actions-button" 
        (click)="cancel()"
    >
        {{ 'CANCEL' | translate }}
    </button>
</ng-container>
