<mat-accordion class="accordion">
    <mat-expansion-panel *ngFor="let row of dataSource; let i = index" [expanded]="step === i" (opened)="setStep(i)" hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'CHANGELOG.WHO_DID' | translate }}: {{ row.whoDid }}
            </mat-panel-title>
            <mat-panel-description>
                {{ 'CHANGELOG.CHANGED_ON' | translate }}: {{ row.changedOn }};
                {{ 'CHANGELOG.TYPE' | translate }}: {{ row.type }}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let element of row.details">
            <div>
                {{ element.fieldName | translate}}:  
            </div>
            <mat-form-field>
                <input matInput 
                    readonly
                    type="text"
                    [value]="element.preValue"
                >
            </mat-form-field>
            ->
            <mat-form-field>
                <input matInput 
                    readonly
                    type="text"
                    [value]="element.postValue"
                >
            </mat-form-field>
        </div>
    </mat-expansion-panel>
    <mat-paginator
        class="mat-elevation-z1" 
        [length]="total" 
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="onPageChanged($event)"
    ></mat-paginator>

</mat-accordion>
