.icon_m {
    width: 18px;
    height: 18px;
    fill: #736d64;
    display: inline-block;
    transition: fill .15s ease-in;
}

.mat-column-actions {
    max-width: 83px;
    display: flex;
    justify-content: flex-end;
}

.visibility {
    font-weight: bold;
    // margin-top: 10px;
}

.menu-row {
    float: right;
}

.hrefLink-newWindow,
.hrefLink {
    width: 90%;
    display: block;
    text-decoration: none;
    color: #063958;
    overflow: hidden;
    max-height: 49px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    line-height: 25px;
}

.row-not_read {
    background-color: rgba(0, 0, 0, 0.1);
}

.row-cell__filter-form {
    max-width: 90%;
}

.popup-content-inner {
    min-width: 200px !important;
    min-height: 165px !important;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    position: relative;
    background-color: #ffffff;
}

.row-cell {
    transition: color .15s ease-in;
}

.disabled {
    color: #d0d0d8;
    fill: #d0d0d8;
}

.hidden {
    display: none;
}

.table__header-actions {
    overflow: visible;
}

.table__header-checkbox {
    max-width: 100px;
}

.table__header-actions__menu {
    display: block;
}

.table__header-global__action {
    visibility: visible;
    opacity: 1;
    animation-name: header-cell;
    animation-duration: 1s;
}

.table__header-search__active {
    color: #05a7ff;
}

.row-cell__filter {
    max-width: 90%;
    animation-name: showing-filter;
    animation-duration: 1s;
}

@keyframes header-cell {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes showing-filter {
    from {height: 0%;}
    to {height: 100%;}
}

.green {
    color: #42c542;
}
.blue {
    color: #00B2E4 !important;
}
.red {
    // color: #eb0c0c;
    color: #fa8072;
}
.gray {
    color: #acacac;
}
.orange {
    color: #e9a150;
}

.details {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.accordion {
    margin-bottom: 12px;
}