.filters {
  text-align: right;
}

.filters .filters-button {
  margin: 0 0 10px 5px;
}

.filters .filters-button:disabled {
  opacity: 0.4;
}

.content {
  padding: 10px;
}

.content-head {
  text-align: center;
  font-size: 20px;
}

.content-body mat-cell {
  padding: 2px;
}

.modal-btn {
  margin: 5px 5px 0 0;
}
