<div class="filters">
    <mat-form-field>
        <mat-select
            name="f"
            #f="ngModel"
            [(ngModel)]="currentFilterId">
            <mat-option *ngFor="let filter of filters" [value]="filter.id">
                {{ filter.name | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-icon-button
        class="filters-button"
        [matTooltip]="'FILTERS.APPLY' | translate"
        (click)="apply(true)"
    >
        <mat-icon>check_circle_outline</mat-icon>
    </button>
    <button mat-icon-button
        class="filters-button"
        [matTooltip]="'FILTERS.EDIT' | translate"
        (click)="edit()"
    >
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button
        class="filters-button"
        [disabled]="defaultFilter && currentFilterId === defaultFilter.id"
        [matTooltip]="'FILTERS.DELETE' | translate"
        (click)="modalDelete()"
    >
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button
        class="filters-button"
        [matTooltip]="'FILTERS.CREATE' | translate"
        (click)="create()"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>

<vce-modal [modalWidth]="780" [backgroundColor]="'#FFF'" *ngIf="isOpenEditModal" (closeAction)="closeEdit()">
    <div class="content">
        <div class="content-head">
            {{ 'FILTERS.EDIT' | translate }}
        </div>
        <div class="content-body">
            <mat-form-field>
                <input matInput 
                    [placeholder]="'FILTERS.NAME' | translate"
                    [required]="true"
                    [(ngModel)]="editFilter.name"
                >
            </mat-form-field>
            <div class="fields-header">
                {{ 'FILTERS.FIELDS' | translate }}
                <button mat-icon-button
                    class="icon-btn"
                    (click)="addRow()"
                    [matTooltip]="'FILTERS.ADD_FIELD' | translate"
                >
                    <mat-icon>add_circle_outline</mat-icon>
                </button>
            </div>
            <mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef>{{ 'FILTERS.FIELD' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <mat-select [(ngModel)]="element.field" (selectionChange)="changeField(element)">
                                <mat-option *ngFor="let field of fields" [value]="field.key">
                                    {{ field.label | translate }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef>{{ 'FILTERS.TYPE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <mat-select [(ngModel)]="element.type">
                                <mat-option [value]=""></mat-option>
                                <mat-option [value]="'equal'">=</mat-option>
                                <ng-container *ngFor="let field of fields">
                                    <mat-option *ngIf="field.key === element.field && !field.list_data" [value]="'like'">like</mat-option>
                                </ng-container>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="value">
                    <mat-header-cell *matHeaderCellDef>{{ 'FILTERS.VALUE' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ng-container *ngFor="let field of fields">
                            <ng-container *ngIf="field.key === element.field && !field.list_data && element.type">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="element.value">
                                </mat-form-field>
                            </ng-container>
                            <ng-container *ngIf="field.key === element.field && field.list_data && element.type">
                                <mat-form-field>
                                    <mat-select [(ngModel)]="element.value">
                                        <mat-option *ngFor="let item of field.list_data" [value]="item.value">
                                            {{ item.label | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                        </ng-container>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="removeBtn">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element; let rowIndex = index;">
                        <button mat-icon-button
                            class="icon-btn"
                            (click)="removeRow(rowIndex)"
                            [matTooltip]="'FILTERS.REMOVE_FIELD' | translate"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <button mat-raised-button
                class="modal-btn"
                (click)="save()"
                [disabled]="!editFilter.name || !dataSource.data.length"
            >
                {{ 'SAVE' | translate }}
            </button>
            <button mat-raised-button
                class="modal-btn"
                (click)="closeEdit()"
            >
                {{ 'CANCEL' | translate }}
            </button>
        </div>
    </div>
</vce-modal>

<vce-modal [modalWidth]="780" [backgroundColor]="'#FFF'" *ngIf="isOpenDeleteModal" (closeAction)="closeDelete()">
    <div class="content">
        <div class="content-head">
            {{ 'FILTERS.DELETE_CONFIRM' | translate }}
        </div>
        <div class="content-body">
            <button mat-raised-button
                class="modal-btn"
                (click)="delete()"
            >
                {{ 'OK' | translate }}
            </button>
            <button mat-raised-button
                class="modal-btn"
                (click)="closeDelete()"
            >
                {{ 'CANCEL' | translate }}
            </button>
        </div>
    </div>
</vce-modal>
