<vce-breadcrumbs
    [actions]="{}"
    [entityName]="data ? data.entityName : {}"
></vce-breadcrumbs>
<div class="view-content">
    <mat-tab-group>
        <mat-tab label="{{ 'DATA' | translate }}">
            <div class="edit-content" *ngIf="dataSchema && dataSchema.data">
                <ng-container *ngFor="let section of sectionsOrder">
                    <vce-block *ngIf="fieldsData && fieldsData[section]"
                        [fieldsData]="fieldsData[section]"
                        [title]="dataSchema.data[section].label"
                        [dataSchema]="dataSchema.data[section]"
                        [isCreate]="isCreate"
                        [moduleName]="'EDIT'"
                        (errorMessage)="sendErrorMessage($event)"
                    ></vce-block>
                </ng-container>
            </div>
        
            <div class="clear"></div>
        </mat-tab>
        <mat-tab label="{{ 'TABLE_PART.TABLE_PART' | translate }}" *ngIf="data && dataSchema && dataSchema.priceTables && dataSchema.priceTables.length">
            <vce-table-part-edit
                [dataSchema]="dataSchema"
                [data]="data.priceList"
            ></vce-table-part-edit>
        </mat-tab>
    </mat-tab-group>

    <ng-container *ngIf="fieldsData">
        <div class="actions-block">
            <vce-actions (cancelEvent)="cancel()">
                <button mat-raised-button
                    [disabled]="!canSave"
                    color="primary"
                    class="actions-button"
                    (click)="save()"
                >
                    {{ 'SAVE' | translate }}
                </button>
            </vce-actions>
        </div>
    </ng-container>
</div>
