.fxLayout {
    width: 100%;
    position: relative;
    font-family: ClearSansRegular;
    justify-content: flex-end;
}

.new-count {
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 1px;
    line-height: 18px;
    background: #eb0c0c;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
}

.user-icon {
    max-height: 24px;
}

.menu-button {
    position: absolute;
    right: 15px;
}

mat-icon {
    color: #ffffff !important;
}

.toolbar {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #0C4770;
    color: #fff;
    // z-index: 3;
    padding: 0;
}

.logo-glass {
    font-size: 30px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0 !important;
}

.empty-col {
    flex: 1;
}

.new-button {
    margin-right: 12px;
}

.logo-button:hover {
    background-color: transparent !important;
}

.logo-button {
    height: 60px;
}

.menu-col {
    height: 60px;
    background-color: #fab92e;
    &__action {
        margin-top: 5px;
        width: 50px;
        height: 50px;
    }
}

.logo-img {
    height: 50px;
}

.logo-link {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 4px;
    display: block;
    width: 240px;
}

.nav-menu-button {
    color: #fff !important;
    &:hover {
        background-color: #0C4770 !important;
        color: #f9b92f !important;
    }
}

.navbar-default {
    min-height: 78px !important;
}

.container {
    width: 100%;
    display: flex;
}

@media (max-width: 360px) {
    .logo-col {
        padding-left: 0px;
    }
    .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}