<div *ngIf="navbarState">
    <mat-toolbar class="mat-elevation-z1 toolbar">
        <div class="menu-col">
            <button mat-icon-button (click)="menuActivate()" class="menu-col__action">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="logo-col">
            <button mat-button class="logo-button" (click)="goToMain()">
                <img class="logo-img" src="/assets/img/logo.png">
            </button>
        </div>
        <div class="empty-col"></div>
        <button mat-icon-button [mat-menu-trigger-for]="menu" class="nav-menu-button new-button">
            <mat-icon *ngIf="!(userProfile$ | async)?.entityName?.image">account_circle</mat-icon>
            <img 
                class="user-icon"
                *ngIf="(userProfile$ | async)?.entityName?.image" 
                src="data:image/png;base64,{{ (userProfile$ | async)?.entityName?.image }}" 
            />
            
        </button>
    </mat-toolbar>

    <mat-menu x-position="before" #menu="matMenu">
        <button mat-menu-item routerLink="{{'/profile'}}">{{ 'PROFILE_PAGE' | translate }}</button>
        <button mat-menu-item (click)="logout()" style="color: #FAB92F !important;">{{'WIDGETS.NAVBAR.LOGOUT' | translate}}</button>
    </mat-menu>
</div>