*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.step-content {
    min-height: 300px;
    text-align: center;
}

.content-body-button {
    float: right;
}

.content {
    overflow: hidden;
    padding: 10px;
    max-height: 100vh;
    &-head {
        text-align: center;
        line-height: 70px;
        font-size: 40px;
        color: #333333;
    }
    &-body {
        overflow: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-height: calc(100vh - 80px);
        border: 1px #888 solid;
        position: relative;
    }
    &-footer {
        padding-top: 12px;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.actions-button {
    margin-right: 6px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
  
    > .message {
        width: 100%;
        height: 100%;
        text-align: center;
        display: table;
    
        font-size: 16px;
        color: #111;
  
        .note {
            vertical-align: middle;
            text-align: center;
            display: table-cell;
        }
    
        &.error {
            .details {
                max-width: 500px;
                font-size: 12px;
                margin: 20px auto;
                text-align: left;
                color: #BD2828;
            }
      
            pre {
                border: solid 1px #BD2828;
                background: #fefafa;
                padding: 10px;
                color: #BD2828;
            }
        }
    }
    &:not(.with-error) .error,
    &.with-error .intro,
    &.with-diagram .intro {
        display: none;
    }
  
    .canvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
  
    &.with-diagram {
        .canvas,
        .properties-panel-parent  {
            display: block;
        }
    }
  }


.buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
  
    padding: 0;
    margin: 0;
    list-style: none;
  
    > li {
        display: inline-block;
        margin-right: 10px;
    
        > a {
            background: #DDD;
            border: solid 1px #666;
            display: inline-block;
            padding: 5px;
        }
    }
  
    a {
        opacity: 0.3;
    }
  
    a.active {
        opacity: 1.0;
    }
}

.properties-panel-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 260px;
    z-index: 10;
    border-left: 1px solid #ccc;
    background-color: #f8f8f8;
    overflow: auto;
    &:empty {
        display: none;
    }
    > .djs-properties-panel {
        padding-bottom: 70px;
        min-height:100%;
    }
}
