<vce-modal [modalWidth]="1220" [backgroundColor]="'#FFF'" (closeAction)="close()">
    <div class="content">
        <div class="content-head">
            {{ 'BUSINESS_PROCESS' | translate }}
        </div>
        <div class="content-body">
            <div class="content-body_canvas" id="canvas"></div>
            <div class="properties-panel-parent" id="properties-panel"></div>
        </div>
        <div *ngIf="isEdit" class="content-footer">
            <button mat-raised-button
                color="primary"
                class="actions-button"
                (click)="save()"
            >
                {{'SAVE' | translate}}
            </button>
            <button mat-raised-button
                color="primary"
                class="actions-button"
                (click)="close()"
            >
                {{'CANCEL' | translate}}
            </button>
        </div>
    </div>
</vce-modal>