<mat-accordion class="accordion">
    <mat-expansion-panel *ngFor="let row of dataSource; let i = index" [expanded]="step === i" (opened)="setStep(i)" (closed)="setStep(null)" hideToggle>
        <mat-expansion-panel-header [collapsedHeight]="'60px'">
            <mat-panel-title class="comment-author">
                <img *ngIf="row.createdImg"
                    src="data:image/png;base64,{{ row.createdImg }}" 
                    alt="'COMMENTS.PHOTO' | translate" 
                    class="comment-author-img"
                >
                <span class="comment-author-name">{{ row.createdBy }}</span> 
            </mat-panel-title>
            <mat-panel-description class="comment-content">
                <span>{{ row.shortContent }}</span>
            </mat-panel-description>
            <mat-panel-description class="comment-answers">
                <span>{{ row.answersCount ? row.answersCount : '' }}</span><mat-icon *ngIf="row.answersCount">comment</mat-icon>
            </mat-panel-description>
            <mat-panel-description class="comment-date">
                <span class="comment-date-date">{{ row.created | date: 'dd.MM.yy' }}</span>
                <span class="comment-date-time">{{ row.created | date: 'HH:mm' }}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="comments-block">
            <div class="comments-block-content">
                {{ row.content }}
            </div>
            <div class="comments-block-spinner" *ngIf="!row.commentsList || !row.commentsList.length">
                <mat-spinner [diameter]="30" *ngIf="childLoading"></mat-spinner>
            </div>
            <ng-container *ngIf="!childLoading && row.commentsList && row.commentsList.length">
                <div class="comments-block-answers">
                    <ng-container *ngFor="let answer of row.commentsList">
                        <div class="comments-answer">
                            <div class="comments-answer-header">
                                {{ answer.whoDidName }}
                                {{ answer.data.created }}
                                {{ 'COMMENTS.TO' | translate }}
                                {{ row.createdBy }}
                                <button mat-icon-button 
                                    (click)="prepareAnswer(row.commentData, answer)"
                                    [matTooltip]="'COMMENTS.TO_ANSWER' | translate"
                                >
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                            <div class="comments-answer-content">
                                {{ answer.data.content }}
                            </div>
                        </div>
                        <ng-container *ngIf="answer.data.childComments && answer.data.childComments.length">
                            <a class="comments-show-answers" (click)="toggleAnswers(answer)">
                                {{ (answer.showAnswers === 'in' ? 'COMMENTS.HIDE_ANSWERS' : 'COMMENTS.SHOW_ANSWERS') | translate }}
                            </a>
                            <div [@slideInOut]="answer.showAnswers">
                                <ng-container *ngFor="let innerAnswer of answer.data.childComments">
                                    <div class="comments-answer inner">
                                        <div class="comments-answer-header">
                                            {{ innerAnswer.whoDidName }}
                                            {{ innerAnswer.data.created }}
                                            <ng-container *ngIf="innerAnswer.data.parentCommentId">
                                                {{ 'COMMENTS.TO' | translate }}
                                                {{ commentAuthors[innerAnswer.data.parentCommentId] }}
                                            </ng-container>
                                            <button mat-icon-button 
                                                (click)="prepareAnswer(row.commentData, innerAnswer)"
                                                [matTooltip]="'COMMENTS.TO_ANSWER' | translate"
                                            >
                                                <mat-icon>send</mat-icon>
                                            </button>
                                        </div>
                                        <div class="comments-answer-content">
                                            {{ innerAnswer.data.content }}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </div>
        <div class="comments-input-block margin">
            <mat-form-field>
                <textarea matInput #answerarea
                    rows="4"
                    [placeholder]="'COMMENTS.ANSWER' | translate"
                    [(ngModel)]="row.commentData.data.main.fields.content.value"
                ></textarea>
            </mat-form-field>
            <div class="comments-send-block">
                <button mat-raised-button 
                    class="comments-send-btn"
                    [disabled]="!row.commentData.data.main.fields.content.value.trim()"
                    (click)="submitComment(row.commentData)"
                >
                    {{ 'COMMENTS.SEND' | translate }}
                </button>
                <ng-container *ngIf="row.commentData.whom">
                    {{ 'COMMENTS.TO' | translate }} {{ row.commentData.whom }}
                    <button mat-icon-button 
                        (click)="cleanAnswer(row.commentData)"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </ng-container>
            </div>
        </div>
    </mat-expansion-panel>
    
    <mat-paginator
        class="mat-elevation-z1" 
        [ngClass]="{'hidden': !dataSource || !dataSource.length}"
        [length]="total" 
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
</mat-accordion>

<mat-accordion class="accordion">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="add-comment-title">
                    {{ 'COMMENTS.ADD_COMMENT' | translate }}
                    <button mat-icon-button>
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="comments-input-block">
            <mat-form-field>
                <textarea matInput 
                    rows="4"
                    [placeholder]="'COMMENTS.TEXT' | translate"
                    [(ngModel)]="commentData.data.main.fields.content.value"
                ></textarea>
            </mat-form-field>
            <div class="comments-send-block">
                <button mat-raised-button 
                    class="comments-send-btn" 
                    [disabled]="!commentData.data.main.fields.content.value.trim()"
                    (click)="submitComment(commentData)"
                >
                    {{ 'COMMENTS.SEND' | translate }}
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
