.icon_m {
    width: 18px;
    height: 18px;
    fill: #736d64;
    display: inline-block;
    transition: fill .15s ease-in;
}

.mat-column-actions {
    max-width: 83px;
    display: flex;
    justify-content: flex-end;
}

.visibility {
    font-weight: bold;
    // margin-top: 10px;
}

.menu-row {
    float: right;
}

.hrefLink-newWindow,
.hrefLink {
    width: 90%;
    display: block;
    text-decoration: none;
    color: #063958;
    overflow: hidden;
    max-height: 49px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    line-height: 25px;
}

.row-not_read {
    background-color: rgba(0, 0, 0, 0.1);
}

.row-cell__filter-form {
    max-width: 90%;
}

.popup-content-inner {
    min-width: 200px !important;
    min-height: 165px !important;
}

.table-container {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    position: relative;
}

.row-cell {
    transition: color .15s ease-in;
}

.disabled {
    color: #d0d0d8;
    fill: #d0d0d8;
}

.hidden {
    display: none;
}

.table__header-actions {
    overflow: visible;
}

.table__header-checkbox {
    max-width: 100px;
}

.table__header-actions__menu {
    display: block;
}

.table__header-global__action {
    visibility: visible;
    opacity: 1;
    animation-name: header-cell;
    animation-duration: 1s;
}

.table__header-search__active {
    color: #05a7ff;
}

.row-cell__filter {
    max-width: 90%;
    animation-name: showing-filter;
    animation-duration: 1s;
}

@keyframes header-cell {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes showing-filter {
    from {height: 0%;}
    to {height: 100%;}
}

.green {
    color: #42c542;
}
.blue {
    color: #00B2E4 !important;
}
.red {
    // color: #eb0c0c;
    color: #fa8072;
}
.gray {
    color: #acacac;
}
.orange {
    color: #e9a150;
}

.actions-block {
    margin-top: 10px;
}

.comments-input-block.margin {
    margin-top: 20px;
}

.comments-input-block mat-form-field {
    width: 70%;
}

.comments-block-answers {
    margin-top: 15px;
}

.comments-block .comments-block-spinner {
    height: 30px;
    margin-top: 10px;
}

.comments-block-spinner mat-spinner {
    margin: 0 auto;
}

.comments-block-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #00B2E4
}

.comments-block-answers .comments-answer {
    margin: 15px 0 0 20px;
    border-bottom: 1px solid #063958;
    padding-bottom: 5px;
}

.comments-block-answers .comments-answer.inner {
    margin-left: 60px;
}

.comments-answer .comments-answer-header {
    font-weight: bold;
}

.comments-answer .comments-answer-content {
    margin-top: 10px;
}

.comments-show-answers {
    display: block;
    margin: 15px 0 0 20px;
    cursor: pointer;
    text-decoration: underline;
    color: #05a7ff;
}

.add-comment-title button {
    top: -2px;
}

.comment-author {
    flex-grow: 2;
    display: flex;
    align-items: center;
    max-width: 210px;
}

.comment-author .comment-author-img {
    width: 30px;
    margin: 0 10px;
}

.comment-content {
    flex-grow: 3;
    display: flex;
    align-items: center;
}

.comment-answers {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: black;
    max-width: 90px;
}

.comment-answers ::ng-deep mat-icon{
    height: 16px !important;
    width: 16px !important;
    font-size: 16px !important;
}

.comment-answers span {
    margin-right: 3px;
}

.comment-date {
    flex-grow: 0;
    display: block;
}

.comment-date .comment-date-date {
    display: block;
    color: black;
}

.comment-date .comment-date-time {
    display: block;
    margin-top: 2px;
}
