<ng-container *ngIf="dataSchema && dataSchema.priceTables">
    <ng-container *ngFor="let block of dataSchema.priceTables; let blockIndex = index;">
        <mat-card class="table-part">
            <mat-card-header>
                <div class="table-part-header">
                    {{ block.moduleLabel | translate }} - {{ block.fieldLabel | translate }}
                    <button mat-icon-button
                        class="icon-btn"
                        (click)="addRow(blockIndex)"
                        [matTooltip]="'TABLE_PART.ADD' | translate"
                    >
                        <mat-icon>add_circle_outline</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-card-content>
                <mat-table [dataSource]="block.dataSource">
                    <ng-container matColumnDef="item">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.ITEM' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="text" required="true" [formControl]="element.selectedText" [matAutocomplete]="auto">
                                <button class="mat-icon-close" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetValue(element, true)">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let item of element.loadedItems" [value]="item.name" (onSelectionChange)="onSelectionChange(element, item)">
                                        {{ item.name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.QUANTITY' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="number" required="true" [(ngModel)]="element.quantity">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.PRICE' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="number" required="true" [(ngModel)]="element.price">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="sequenceNo">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.SEQUENCE_NO' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input matInput type="number" [(ngModel)]="element.sequenceNo">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="removeBtn">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let element; let rowIndex = index;">
                            <button mat-icon-button
                                class="icon-btn"
                                (click)="removeRow(blockIndex, rowIndex)"
                                [matTooltip]="'TABLE_PART.REMOVE' | translate"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>