.forms {
    &__element {
        padding-top: 1em;

        & > mat-form-field {
            width: 100%;
        }
    }

    &__view-form {
        cursor: default;
    }

    &__user {
        pointer-events: none;
        outline: none;

        &-chip {
            pointer-events: all;

            &:hover {
                cursor: pointer;
                box-shadow: 
                0 3px 3px -2px rgba(228, 96, 96, 0.2), 
                0 3px 4px 0 rgba(0,0,0,.14), 
                0 1px 8px 0 rgba(0,0,0,.12);
            }

            &__icon {
                font-size: 16px;
                height: 16px;
                width: 16px;
                margin-left: 2px;
            }
        }

        &-input {
            display: none;
        }
    }

    &__checkbox {
        padding-bottom: 1.25em;
    }

    &__radio-group {
        display: inline-flex;
        flex-direction: column;
    }

    &__radio {
        margin-top: 10px;
    }

    &__textarea {
        max-height: 2em;
        resize: none;
    }

    &__link {
        cursor: pointer !important;
    }
}

.view-content-card-form__width-100 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 98.5%;
}

.view-content-card-form__width-50 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 47.5%;
}

.login__show-password {
    cursor: pointer;
}

.markdown {
    cursor: pointer;
    color: rgba(6, 57, 88, 0.5) !important;
    &-actions {
        margin: 0px 0px 12px 30px;
        &__cancel {
            margin-left: 12px;
        }
    }
}

.forms__label_link {
    cursor: pointer;
}

.price-prefix {
    margin-right: 3px;
}