<div *ngIf="validationErrors?.length === 0 && field.view" 
    class="forms__element view-content-card-form__width-100"
    [ngClass]="{'forms__checkbox': field.display_type === 'checkbox'}"
    [ngStyle]="{'width': 'calc('+width+' - 20px)'}"
    [ngSwitch]="field.display_type">

    <mat-form-field *ngSwitchCase="'textarea'" floatLabel="always">
        <textarea matInput
            readonly
            class="forms__view-form forms__textarea"
            onfocus="this.blur()"
            [placeholder]="field.label | translate"
            [value]="field.value"></textarea>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'checkbox'" 
        class="forms__view-form"
        onfocus="this.blur()"
        color="primary"
        disableRipple="true"
        onclick="return false;"
        [checked]="field.value">
        {{ field.label | translate }}
    </mat-checkbox>

    <mat-form-field *ngSwitchCase="'multi_label_link'" floatLabel="always">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__view-form"
            [placeholder]="field.label | translate"
            [value]="field.value">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'chips'" floatLabel="always">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__view-form"
            [placeholder]="field.label | translate"
            [value]="field.list_data.join(', ')">
    </mat-form-field>

    <ng-container *ngIf="field.value">
        <mat-form-field *ngSwitchCase="'date'" floatLabel="always">
            <input matInput 
                matDatepicker
                readonly
                onfocus="this.blur()"
                class="forms__view-form"
                shouldPlaceholderFloat="false"
                [placeholder]="field.label | translate"
                [value]="field.value">
        </mat-form-field>
    </ng-container>

    <mat-form-field *ngSwitchCase="'link'" floatLabel="always" (click)="goToLink()">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__link"
            [placeholder]="field.label | translate"
            [value]="field.value">
        <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'label_link'" floatLabel="always" (click)="goToLabelLink()">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__label_link"
            [placeholder]="field.label | translate"
            [value]="field?.value ? field.value.label : ''">
        <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dependent_label_link'" floatLabel="always" (click)="goToLabelLink()">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__label_link"
            [placeholder]="field.label | translate"
            [value]="field?.value ? field.value.label : ''">
        <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>

    <mat-form-field shouldLabelFloat  *ngSwitchCase="'markdown'">
        <mat-label>{{ field.label | translate }}</mat-label>
        <input (click)="openMarkdown()" class="markdown" matInput value="{{ 'MARKDOWN.CLICK' | translate }}" readonly="true">
    </mat-form-field >

    <mat-form-field *ngSwitchCase="'hidden'" floatLabel="always" (click)="passwordHide = !passwordHide">
        <input matInput 
            [type]="passwordHide ? 'password' : 'text'"
            readonly
            onfocus="this.blur()"
            class="forms__hidden"
            [placeholder]="field.label | translate"
            [value]="field.value"
        >
        <mat-icon matSuffix class="login__show-password">
            {{passwordHide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'external_link'" floatLabel="always" (click)="goToExternalLink()">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__external_link"
            [placeholder]="field.label | translate"
            [value]="field?.value ? field.value.label : ''">
        <mat-icon matSuffix>link</mat-icon>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'file'" floatLabel="always" (click)="downloadFiles()">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__link"
            [placeholder]="field.label | translate"
            [value]="field.value">
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'price'">
        <input matInput
            readonly
            [placeholder]="field.label | translate"
            [value]="field.value">
        <span matPrefix class="price-prefix">{{ field.shortLabel | translate }}</span>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'system_label_link'" floatLabel="always">
        <input matInput 
            readonly
            onfocus="this.blur()"
            class="forms__link"
            [placeholder]="field.label | translate"
            [value]="field.value ? field.value.label : ''">
    </mat-form-field>

    <ng-container *ngIf="field.canCopy">
        <mat-form-field *ngSwitchDefault floatLabel="always" [appCopyClick]="field.value">
            <input matInput 
                readonly
                onfocus="this.blur()"
                class="forms__view-form"
                [placeholder]="field.label | translate"
                [value]="field.list_data?.length > 0 ? displayedValue.join(', ') : field.value">
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!field.canCopy">
        <mat-form-field *ngSwitchDefault floatLabel="always">
            <input matInput 
                readonly
                onfocus="this.blur()"
                class="forms__view-form"
                [placeholder]="field.label | translate"
                [value]="field.list_data?.length > 0 ? displayedValue.join(', ') : field.value">
        </mat-form-field>
    </ng-container>
</div>

<vce-modal *ngIf="isOpenMarkdown" [modalWidth]="1024" (closeAction)="closeMarkdown()">
    <vce-markdown [(data)]="field.value" [readonly]="true"></vce-markdown>
    <div class="markdown-actions">
        <button mat-raised-button 
            color="primary"
            (click)="closeMarkdown()"
        >
            {{ 'OK' | translate }}
        </button>
    </div>
</vce-modal>
