<div class="m-p-g">
        <div class="m-p-g__thumbs" [ngStyle]="{'max-height.px': height}">
            <div class="m-p-g__thumbs-container" *ngFor="let img of images; let i = index"
                    [ngStyle]="{
                        'max-width.px': 320,
                        'width.px': img.width*100/img.height,
                        'flex-grow': img.width*100/img.height
                    }">
                <i class="m-p-g__thumbs-container-i" [ngStyle]="{'padding-bottom': img.height/img.width*100 + '%'}"></i>
                <img (click)="openFulScreen(i)" src="{{img.tmb}}" class="m-p-g__thumbs-img"/>
            </div>
        </div>
    
        <div #fulscreen class="m-p-g__fullscreen" [ngClass]="{'active': isFullScreen}">
            <img *ngFor="let image of images; let i = index" 
                    src="{{image.full}}" 
                    class="m-p-g__fullscreen-img" 
                    [ngClass]="{'almost-active': activeImg !== i, 'active': activeImg === i}"/>
            <div class="m-p-g__controls" [ngClass]="{'active': isFullScreen}">
                <button class="m-p-g__controls-close" (click)="close()">
                    <span class="m-p-g__btn">
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </span>
                </button>
                <button *ngIf="activeImg < (images.length - 1)" class="m-p-g__controls-arrow m-p-g__controls-arrow--next" (click)="next()">
                    <span class="m-p-g__btn">
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
                        </svg>
                    </span>
                </button>
                <button  *ngIf="activeImg > 0" class="m-p-g__controls-arrow m-p-g__controls-arrow--prev" (click)="prew()">
                    <span class="m-p-g__btn">
                        <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>