<div class="table-container box-content">
    <mat-table #tableHead [dataSource]="dataSourceFilter" matSort matSortActive="{{sortData?.field}}" matSortDisableClear matSortDirection="{{sortData?.type}}">
        <ng-container matColumnDef="checked" *ngIf="needCheckedColumn">
            <mat-header-cell *matHeaderCellDef [ngClass]="{'disabled': loading}" class="checked-column">
                <mat-checkbox color="primary" [checked]="checkedAll" (change)="toggleAll()"></mat-checkbox>
            </mat-header-cell>
        </ng-container>
        
        <ng-container *ngFor="let label of displayHeader">
            <ng-container *ngIf="label !== 'actions' && label !== 'checked' && approvedHeader[label] && label !== 'globalActions'" matColumnDef="{{label}}">
                <mat-header-cell *matHeaderCellDef [disabled]="loading" mat-sort-header class="row-cell" [ngClass]="{'disabled': loading}">
                    {{ (label !== 'id' ? labels[label] : 'ID') | translate }}
                </mat-header-cell>
            </ng-container>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef [ngClass]="{'disabled': loading}" class="table__header-actions">
                <button mat-icon-button (click)="viewFilter()" matTooltip="{{ 'VIEW_FILTER' | translate }}">
                    <mat-icon [ngClass]="{'table__header-search__active' : isFiltered}">search</mat-icon>
                </button>
            </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayHeader"></mat-header-row>
    </mat-table>
    <mat-table #tableFilter [dataSource]="dataSourceFilter" matSort matSortActive="{{header[1]}}" matSortDisableClear matSortDirection="asc" *ngIf="!modalMode">

        <ng-container matColumnDef="checked" *ngIf="needCheckedColumn">
            <mat-cell *matCellDef class="checked-column"></mat-cell>
        </ng-container>
        <ng-container *ngFor="let label of displayHeader">
            <ng-container *ngIf="label !== 'actions' && label !== 'checked' && label !== 'globalActions'" matColumnDef="{{label}}">
                <mat-cell *matCellDef="let element" class="row-cell row-cell__filter" [ngClass]="{'disabled': loading}">
                    <mat-form-field class="row-cell__filter-form">
                        <input *ngIf="!filterData[label] || (filterData[label] && filterData[label].filterType !== 'select')" matInput (keydown)="keyDownFunction($event)" [(ngModel)]="element[label]">
                        <mat-select *ngIf="filterData[label] && filterData[label].filterType === 'select'" [(ngModel)]="element[label]">
                            <mat-option [value]=""></mat-option>
                            <mat-option *ngFor="let item of filterData[label].list_data" [value]="item.value">
                                {{ item.label | translate }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-cell>
            </ng-container>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="searchFilter()" class="menu-row" matTooltip="{{ 'SEARCH' | translate }}">
                    <mat-icon>send</mat-icon>
                </button>
                <button mat-icon-button (click)="resetFilter()" class="menu-row" matTooltip="{{ 'RESET_FILTER' | translate }}">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: filteredRow"></mat-row>
    </mat-table>

    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="checked" *ngIf="needCheckedColumn">
            <mat-cell *matCellDef="let element" [ngClass]="{'disabled': loading}" class="checked-column">
                <mat-checkbox color="primary" [checked]="element.checked" (change)="toggleOne(element.id)"></mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container *ngFor="let label of displayHeader">
            <ng-container *ngIf="label !== 'actions' && label !== 'checked' && label !== 'bp_instance_link' && label !== 'policies_id' && label !== 'guarantee_id' && approvedHeader[label] && label !== 'globalActions'"
                matColumnDef="{{label}}">
                <ng-container *ngIf="modalMode">
                    <mat-cell *matCellDef="let element; let i = index" class="row-cell" [ngClass]="{'disabled': loading}" (click)="clickRow(element)">
                        <a class="hrefLink">
                            <span [ngClass]="element[label]?.color">
                                {{ displayedValues[element.id] && displayedValues[element.id][label] ? 
                                    displayedValues[element.id][label] : 
                                    (element[label]?.color ? element[label].value : element[label]) }}
                            </span>
                        </a>
                    </mat-cell>
                </ng-container>
                <ng-container *ngIf="!modalMode">
                    <mat-cell *matCellDef="let element" class="row-cell" [ngClass]="{'disabled': loading}">
                        <a class="hrefLink link-to-view" [routerLink]="'/modules/' + module + '/view/' + element.id" [ngClass]="{'visibility' : element.viewed === false }">
                            <span [ngClass]="element[label]?.color">
                                {{ displayedValues[element.id] && displayedValues[element.id][label] ? 
                                    displayedValues[element.id][label] : 
                                    (element[label]?.color ? element[label].value : element[label]) }}
                            </span>
                        </a>
                    </mat-cell>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-cell *matCellDef="let element">
                <!-- <mat-icon class="visibility" *ngIf="element.viewed">visibility</mat-icon>
                <mat-icon class="visibility">visibility_off</mat-icon> -->
                <button mat-icon-button [matMenuTriggerFor]="menu" [disabled]="loading" class="menu-row">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <ng-container *ngFor="let action of element.actions | toArray">
                        <button mat-menu-item *ngIf="action.value" (click)="actionEvent(action.value, element[indexKey])">
                            <span>
                                {{ action.value.label | translate }}
                            </span>
                        </button>
                    </ng-container>
                </mat-menu>
            </mat-cell>
        </ng-container>
        <mat-row *matRowDef="let row; columns: displayHeader" [ngClass]="{'row-not_read':  row.viewed === false}"></mat-row>
    </mat-table>
    <mat-paginator [length]="total" [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
