.datepicker {
    width: 100%;
    position: relative;
    display: inline-block;
    color: #2b2b2b;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Calibri', 'Roboto';
}

.datepicker__input:disabled {
    color: #656565;
    outline: none;
    cursor: default;
    opacity: 0.6;
    -webkit-filter: grayscale(0.1);
    filter: grayscale(0.1);
    pointer-events: none;
}

.datepicker_full-width {
    width: 100%;
}

.datepicker__icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 0px;
}

.datepicker__form {
    width: 100%;
}

.datepicker__input:disabled + .datepicker__icon {
    cursor: default;
    opacity: 0.6;
    -webkit-filter: grayscale(0.1);
    filter: grayscale(0.1);
}

.datepicker__calendar {
    position: fixed;
    overflow: hidden;
    z-index: 1003;
    height: 23.8em;
    width: 22.5em;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 2px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabeDay {
    cursor: default !important;
    color: rgba(0, 0, 0, 0.1) !important;
    text-shadow: 0px 0px 0px !important;
}

.datepicker__calendar__cancel {
    position: absolute;
    bottom: 1em;
    left: 1.8em;
    cursor: pointer;
    -webkit-transition: 0.37s;
    transition: 0.37s;
    color: #063958;
}

.datepicker__calendar__cancel:hover {
    text-decoration: underline;
}

.datepicker__calendar__content {
    margin-top: 0.4em;
}

.datepicker__calendar__labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.datepicker__calendar__label {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    margin: 0 0.2em;
    line-height: 2.2em;
    text-align: center;
    color: #d8d8d8;
}

.datepicker__calendar__month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 19.5em;
    margin-left: 1.5em;
}

.datepicker__calendar__month__day {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    margin: 0 0.2em 0.4em;
    border-radius: 2.2em;
    line-height: 2.2em;
    text-align: center;
    -webkit-transition: 0.37s;
    transition: 0.37s;
}

.datepicker__calendar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3em;
    color: #063958;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.datepicker__calendar__nav__arrow {
    width: 0.8em;
    cursor: pointer;
    -webkit-transition: 0.37s;
    transition: 0.37s;
}

.datepicker__calendar__nav__arrow:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.datepicker__calendar__nav__chevron {
    fill: #bbbbbb;
    -webkit-transition: 0.37s;
    transition: 0.37s;
}

.datepicker__calendar__nav__chevron:hover {
    fill: #2b2b2b;
}

.datepicker__calendar__nav__header {
    width: 11em;
    margin: 0 1em;
    text-align: center;
}

.datepicker__calendar__nav__header__form {
    display: inline-block;
    margin: 0;
}

.datepicker__calendar__nav__header__year {
    display: inline-block;
    width: 3em;
    text-align: center;
    padding: 2px 4px;
    border: 1px solid transparent;
    background-color: transparent;
    color: #063958;
    border-radius: 2px;
    font-size: 1em;
    transition: 0.32s;
}

.datepicker__calendar__nav__header__year:focus.ng-invalid {
    border: 1px solid #e82525;
}

.datepicker__calendar__nav__header__year:focus.ng-valid {
    border: 1px solid #13ad13;
}

.datepicker__calendar__nav__header__year:focus {
    outline: none;
}

.datepicker__input {
    width: 100%;
    outline: none;
    box-sizing: border-box;
    padding: 5px 10px;
    height: 55px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    font-family: ClearSansRegular;
    font-size: 15px;
    background-color: #f6f7f8;
}

.datepicker__calendar__layout {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    display: none;
    top: 0;
    z-index: 1000;
}

@media (max-width: 360px) {
    .datepicker__calendar {
        width: 19.5em;
    }
    .datepicker__calendar__month {
        margin-left: 0em;
    }
}