<div [ngClass]="{'datepicker': true, 'datepicker_full-width': isFullWidth}"
    [ngStyle]="{'font-family': fontFamily}">
    <label class="datepicker__label"></label>
    <mat-form-field class="datepicker__form" [ngClass]="{'error_field': isError}">
        <input [disabled]="disabled"
            matInput
            [required]="required"
            [placeholder]="placeholder"
            [(ngModel)]="inputText"
            [ngStyle]="{
                'cursor': isDisabeInputDate ? 'pointer' : 'initial'
            }"
            (ngModelChange)="changeInputText()"
            (click)="onInputClick($event, isDisabeInputDate)"
            vceDateMask
            #f="ngModel"
            [readonly]="readonly || isDisabeInputDate"
        />
        <mat-error *ngIf="required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <svg (click)="onInputClick($event, true)" class="icon_m datepicker__icon" width="24" height="24" style="fill:rgba(6, 57, 88, 0.5);">
        <path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
    <div 
        class="datepicker__calendar__layout" 
        [ngStyle]="{'display': showCalendar ? 'block' : 'none'}"
        (click)="closeCalendar()"
    >
    </div>
    <div 
        class="datepicker__calendar mat-elevation-z5" 
        [ngStyle]="positionTop"
        [ngClass]="openToTop ? 'datepicker__calendar--top' : 'datepicker__calendar--bottom'" 
        *ngIf="showCalendar"
    >
        <div class="datepicker__calendar__nav">
            <div class="datepicker__calendar__nav__arrow" (click)="onArrowClick('left')">
                <svg class="datepicker__calendar__nav__chevron" x="0px" y="0px" viewBox="0 0 50 50">
                    <g>
                        <path d="M39.7,7.1c0.5,0.5,0.5,1.2,0,1.7L29,19.6c-0.5,0.5-1.2,1.2-1.7,1.7L16.5,32.1c-0.5,0.5-1.2,0.5-1.7,0l-2.3-2.3
                    c-0.5-0.5-1.2-1.2-1.7-1.7l-2.3-2.3c-0.5-0.5-0.5-1.2,0-1.7l10.8-10.8c0.5-0.5,1.2-1.2,1.7-1.7L31.7,0.8c0.5-0.5,1.2-0.5,1.7,0
                    l2.3,2.3c0.5,0.5,1.2,1.2,1.7,1.7L39.7,7.1z"/>
                    </g>
                    <g>
                        <path d="M33.4,49c-0.5,0.5-1.2,0.5-1.7,0L20.9,38.2c-0.5-0.5-1.2-1.2-1.7-1.7L8.4,25.7c-0.5-0.5-0.5-1.2,0-1.7l2.3-2.3
                    c0.5-0.5,1.2-1.2,1.7-1.7l2.3-2.3c0.5-0.5,1.2-0.5,1.7,0l10.8,10.8c0.5,0.5,1.2,1.2,1.7,1.7l10.8,10.8c0.5,0.5,0.5,1.2,0,1.7
                    L37.4,45c-0.5,0.5-1.2,1.2-1.7,1.7L33.4,49z"/>
                    </g>
                </svg>
            </div>
            <div class="datepicker__calendar__nav__header">
                <span>{{ currentMonth }}</span>
                <input #yearInput
                        class="datepicker__calendar__nav__header__year"
                        placeholder="{{ 'YEAR' | translate }}"
                        [formControl]="yearControl"
                        (keyup.enter)="yearInput.blur()"
                        (blur)="onYearSubmit()"/>
            </div>
            <div class="datepicker__calendar__nav__arrow" (click)="onArrowClick('right')">
                <svg class="datepicker__calendar__nav__chevron" x="0px" y="0px" viewBox="0 0 50 50">
                    <g>
                        <path d="M8.4,7.1c-0.5,0.5-0.5,1.2,0,1.7l10.8,10.8c0.5,0.5,1.2,1.2,1.7,1.7l10.8,10.8c0.5,0.5,1.2,0.5,1.7,0l2.3-2.3
                    c0.5-0.5,1.2-1.2,1.7-1.7l2.3-2.3c0.5-0.5,0.5-1.2,0-1.7L29,13.2c-0.5-0.5-1.2-1.2-1.7-1.7L16.5,0.8c-0.5-0.5-1.2-0.5-1.7,0
                    l-2.3,2.3c-0.5,0.5-1.2,1.2-1.7,1.7L8.4,7.1z"/>
                    </g>
                    <g>
                        <path d="M14.8,49c0.5,0.5,1.2,0.5,1.7,0l10.8-10.8c0.5-0.5,1.2-1.2,1.7-1.7l10.8-10.8c0.5-0.5,0.5-1.2,0-1.7l-2.3-2.3
                    c-0.5-0.5-1.2-1.2-1.7-1.7l-2.3-2.3c-0.5-0.5-1.2-0.5-1.7,0L20.9,28.5c-0.5,0.5-1.2,1.2-1.7,1.7L8.4,40.9c-0.5,0.5-0.5,1.2,0,1.7
                    l2.3,2.3c0.5,0.5,1.2,1.2,1.7,1.7L14.8,49z"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="datepicker__calendar__content">
            <div class="datepicker__calendar__labels">
                <div class="datepicker__calendar__label" *ngFor="let day of dayNamesOrdered">
                    {{ day }}
                </div>
            </div>
            <div class="datepicker__calendar__month">
                <div *ngFor="let day of calendarDays"
                    class="datepicker__calendar__month__day"
                    [ngClass]="{
                        'disabeDay': checkDisabeDay(day)
                    }"
                    [ngStyle]="{'cursor': day == 0 ? 'initial' : 'pointer',
                    'background-color': getDayBackgroundColor(day),
                    'color': isHoveredDay(day) ? accentColor : getDayFontColor(day),
                    'pointer-events': day == 0 ? 'none' : ''
                    }"
                    (click)="onSelectDay(day, checkDisabeDay(day))"
                    (mouseenter)="hoveredDay = day"
                    (mouseleave)="hoveredDay = null">
                <span *ngIf="day != 0" class="datepicker__calendar__month__day__span">
                    {{ day.getDate() }}
                </span>
                </div>
            </div>
            <div class="datepicker__calendar__cancel" (click)="onCancel()">
                {{ cancelText }}
            </div>
        </div>
    </div>
</div>