.mat-icon-suffix {
    background-color: white !important;
}

.link-modal-label {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.link-modal-not-found {
    font-size: 18px;
    font-weight: bold;
}

.link-modal-spinner {
    height: 50px;
    margin: 10px 0;
}

.link-modal-spinner mat-spinner {
    margin: 0 auto;
}

.link-modal-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #00B2E4
}