<button class="mat-icon-suffix" mat-button mat-icon-button type="button" (click)="openLinkModal()">
    <mat-icon>search</mat-icon>
</button>
<vce-modal *ngIf="isOpenLinkModal" [modalWidth]="1024" (closeAction)="closeLinkModal()">
    <div class="link-modal-label">
        {{ field.label | translate }}
    </div>
    <ng-container *ngIf="isLoading">
        <div class="link-modal-spinner">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </ng-container>
    <vce-table #list *ngIf="!isLoading && linkData && linkData.data"
        [data]="linkData" 
        [module]="field.module" 
        [moduleSchema]="linkSchema"
        [filterInitData]="[]"
        [checked]="[]"
        [header]="header"
        [displayHeader]="displayHeader"
        [approvedHeader]="approvedHeader"
        [labels]="labels"
        [modalMode]="true"
        (clickRowAction)="clickRow($event)"
        (pageAction)="changePage($event)"
    ></vce-table>
    <ng-container *ngIf="!isLoading && (!linkData || !linkData.data)">
        <div class="link-modal-not-found">
            {{ 'DATA_NOT_FOUND' | translate }}
        </div>
    </ng-container>
</vce-modal>