.login {
    &__card {
        max-width: 400px;
        margin: 4em auto;

        & > * {
            width: 100%;
        }
    }
    
    &__show-password {
        cursor: pointer;
    }
    
    &__toolbar {
        margin-top: 20px;
    }

    &__logo {
        margin-bottom: 15px;
    }
}

.date-input {
    cursor: pointer;
}

.invalid {
    color: #a00048;
}

.select-arrow {
    position: absolute;
    top: 29px;
    right: 20px;
    font-size: 24px;
    color: #a0a0a0;
}

.form-field {
    overflow-y: hidden;
}

.blur {
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

.mat-form {
    width: 100%;
}

.destination-country {
    min-height: 90px !important;
}

.hero-box-button {
    line-height: 36px !important;
}

.hero-box-button_parent-div {
    padding-left: 15px;
}

.burn-form {
    width: 100%;
}

.mat-form-modal {
    width: 60%;
}

.modal-button {
    padding: 10px;
}

.modal-content-body {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &-button {
        padding-top: 20px;
    }
}

@media (max-width: 415px) {
    .hero-box {
        padding: 40px 0px;
    }
}

@media (max-width: 320px) {
    .row {
        max-width: 320px;
    }
}
