<vce-landing-header></vce-landing-header>
<div class="displayFlex">
    <main class="main-flex">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="hero-box mat-elevation-z1 hero-box__margin-top-90">
                        <form>
                            <div class="col-md-12 form-field">
                                <mat-form-field class="mat-form">
                                    <input matInput [placeholder]="'LOGIN.EMAIL' | translate" name="username" [(ngModel)]="loginData.email" (ngModelChange)="mailValid()">
                                </mat-form-field>
                            </div>

                            <div class="col-md-12 form-field">
                                <mat-form-field class="mat-form">
                                    <input matInput [placeholder]="'LOGIN.PASSWORD' | translate" name="password" [type]="passwordHide ? 'password' : 'text'" [(ngModel)]="loginData.password"
                                        autocomplete="off">
                                    <mat-icon matSuffix (click)="passwordHide = !passwordHide" class="login__show-password">
                                        {{passwordHide ? 'visibility' : 'visibility_off'}}
                                    </mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="hero-box-button_parent-div">
                                <button class="hero-box-button" mat-raised-button color="primary" [disabled]="(isLoading$ | async) || !isMailValid || loginData.password.length < 4"
                                    (click)="login()" type="submit">{{ 'LOGIN.LOGIN' | translate }}</button>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer class="footer-flex">
        <vce-landing-footer></vce-landing-footer>
    </footer>
</div>

<vce-modal #modal *ngIf="(isTwoFactor$ | async)" (closeAction)="cancelConfirmAction()">
    <div class="modal-content">
        <div class="modal-content-head">
        </div>
        <div class="modal-content-body">
            <span>{{ 'LOGIN.CHECK_TEXT' | translate }}</span>
            <div class="burn-form">
                <mat-form-field class="mat-form-modal">
                    <mat-label>{{ 'LOGIN.CONFIRM_CODE' | translate }}</mat-label>
                    <input matInput [(ngModel)]="loginData.confirmCode" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="modal-content-body-button">
                <button class="modal-button" mat-button (click)="modal.closeDialog()">{{ 'CANCEL' | translate }}</button>
                <button class="modal-button" mat-button [disabled]="( isLoading$ | async) || !loginData.confirmCode" style="margin-left: 15px;" (click)="confirmEmail()">{{ 'CONFIRM'
                    | translate }}</button>
            </div>
        </div>
    </div>
</vce-modal>
