<vce-modal [modalWidth]="580" [backgroundColor]="'#FFF'" (closeAction)="close()">
    <div class="content">
        <div class="content-head">
            {{ modalData.label | translate }}
        </div>
        <div class="content-body">
            <ng-container *ngFor="let section of modalData.sectionsOrder">
                <vce-block *ngIf="modalData.data && modalData.data[section]"
                    class="block"
                    [fieldsData]="fieldsData[section]"
                    [dataSchema]="modalData.data[section]"
                    [moduleName]="'EDIT'"
                    [isFullWidth]="true"
                    [isNotCard]="true"
                    (errorMessage)="sendErrorMessage($event)"
                ></vce-block>
            </ng-container>
            <vce-actions (cancelEvent)="cancel()">
                <button mat-raised-button
                    [disabled]="!canSave"
                    color="primary"
                    class="actions-button"
                    (click)="save()"
                >
                    {{ 'SAVE' | translate }}
                </button>
            </vce-actions>
        </div>
    </div>
</vce-modal>
