.sidebar {
    height: calc(100vh - 60px);
    width: 100%;
}

.sidebar-container {
    display: flex;
}

.sidebar-short {
    height: calc(100vh - 60px);
    width: 53px;
    background-color: #0C4770;
    overflow-y: auto;
    overflow-x: hidden;
    
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        border: 1px solid rgb(21, 116, 184);
        background-color: rgb(9, 42, 66);
    }
}

.icon {
    color: #559cce !important;
}

.sidebar-menu {
    background-color: #0C4770;
}

.sidebar-content {
    display: flex;
}

.menu-button {
    display: block;
    margin-top: 12px;
    width: 100%;
    text-align: left;
    color: #559cce;
}

