<div class="sidebar-container">
    <div *ngIf="!isOpened && isLoginedState" class="sidebar-short mat-elevation-z1">
        <button 
            *ngFor="let page of allowedModules" 
            mat-button 
            routerLink="{{'/modules/' + page.value}}" 
            class="menu-button"
            [matTooltip]="page.label | translate"
        >
            <mat-icon *ngIf="page.icon" class="icon">
                {{page.icon}}
            </mat-icon>
            <mat-icon *ngIf="!page.icon" class="icon">
                description
            </mat-icon>
        </button>
    </div>
    <mat-drawer-container #sidebar class="sidebar">
        <mat-drawer mode="side" [opened]="isOpened" class="sidebar-menu">
            <button *ngFor="let page of allowedModules" mat-button routerLink="{{'/modules/' + page.value}}" class="menu-button">
                <mat-icon *ngIf="page.icon" class="icon">
                    {{page.icon}}
                </mat-icon>
                <mat-icon *ngIf="!page.icon" class="icon">
                    description
                </mat-icon>
                {{ page.label | translate }}
            </button>
        </mat-drawer>
        <mat-drawer-content>
                <ng-content></ng-content>
        </mat-drawer-content>
    </mat-drawer-container>
</div>