<vce-breadcrumbs
    [actions]="data ? data.actions : {}"
    (actionEvent)="action($event)"
    [entityName]="data ? data.entityName : {}"
></vce-breadcrumbs>
<div class="view-content">
    <mat-tab-group>
        <mat-tab label="{{ 'DATA' | translate }}">
            <div class="row">
                <div class="custom-view-left">
                    <ng-container *ngIf="dataSchema && dataSchema.data && data">
                        <ng-container *ngFor="let section of sectionsOrder">
                            <vce-block *ngIf="fieldsData"
                                [fieldsData]="fieldsData[section]"
                                [title]="dataSchema.data[section].label"
                                [dataSchema]="dataSchema.data[section]"
                                [moduleName]="'VIEW'"
                                ></vce-block>
                        </ng-container>
                    </ng-container>
                </div>

                <div class="custom-view-right">
                    <vce-task></vce-task>
                    <div>
                        <h3>{{ 'COMMENTS.COMMENTS' | translate }}</h3>
                        <vce-comments></vce-comments>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </mat-tab>

        <mat-tab label="{{ 'CHANGELOG.CHANGELOG' | translate }}">
            <div class="changelog_section">
                <vce-changelog [moduleName]="moduleName"></vce-changelog>
            </div>
        </mat-tab>
        
        <mat-tab label="{{ 'TABLE_PART.TABLE_PART' | translate }}" *ngIf="data && data.priceList && data.priceList.length">
            <vce-table-part-view
                [data]="data.priceList"
            ></vce-table-part-view>
        </mat-tab>

        <ng-container *ngIf="data && data.linked && data.linked.length">
            <ng-container *ngFor="let item of data.linked">
                <mat-tab label="{{ modulesNames[item.entity] | translate }}">
                    <vce-linked-list
                        [linkedData]="item"
                        [dataID]="dataID"
                        [modules]="modules"
                    ></vce-linked-list>
                </mat-tab>
            </ng-container>
        </ng-container>
    </mat-tab-group>
</div>

<vce-bp *ngIf="isOpenViewBP" [BPRequestData]="viewBPInputData" [entityID]="dataID" [isEdit]="isEditBP" (onClose)="onCloseBp()"></vce-bp>
<vce-entity-modal *ngIf="isOpenModal" (onSave)="onSaveModal($event)" (onClose)="isOpenModal = false" [modalData]="modalData"></vce-entity-modal>
<vce-entity-modal-v2 *ngIf="isOpenModalV2" (onAction)="onActionModalV2($event)" (onClose)="isOpenModalV2 = false" [modalData]="modalDataV2"></vce-entity-modal-v2>
