@import '../../../../../../assets/css/vce-theme';

$primary: map-get($vce-app-theme, primary);

.view-content {
    padding: 20px;
}

img {
    height:auto
}

mat-card {
    margin-bottom: 20px;
}

.img-card {
    width: calc(30% - 50px);
    margin: 20px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
}

.card__title {
    padding: 10px 0 5px;
}

.view-content-card-form__width-50 {
    padding-left: 10px;
    padding-right: 10px;
    width: 47.5%;
}
.view-content-card-form__width-100 {
    padding-left: 10px;
    padding-right: 10px;
    width: 98%;
}

.view-content-card-form__link {
    cursor: pointer !important;
    &:hover {
        color: mat-color($primary, A700);;
    }
}

.view-content-card-form-input__link {
    cursor: pointer !important;
}

.view-content-card__list-item {
    &-icon {
        display: block;
    }
    &-icon-hover {
        color: #FFF !important;
        display: none;
    }
    
    &:hover {
        cursor: pointer;
        background-color: mat-color($primary, A200);
        color: #FFF !important;

        .view-content-card__list-item-icon {
            display: none;
        }
        .view-content-card__list-item-icon-hover {
            display: block;
        }
    }

}

.view-content-files-card {
    margin-top: 15px;
}

.actions-button {
    margin-right: 10px;
}

.modal-content {
    padding: 10px;
    &-head {
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 70px;
        font-size: 40px;
    }
    &-body {
        padding-left: 20px;
        padding-right: 20px;

        &-button {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
            
            & > *:not(:first-child) {
                margin-left: 3px;
            }
        }
    }
}

@media (max-width: 400px) {
    .modal-content-body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1024px) {
    .view-content-card-form__width-100,
    .view-content-card-form__width-50 {
        width: 98%;
    }
    .img-card {
        width: 100%;
    }
}

.card {
    background: #D9F1FB;
    &__title,
    &__bottom {
        color: #063958;
        margin: 10px 0;
        text-align: center;
    }

    &__title {
        font-size: 15pt;
    }

    &__bottom {
        font-size: 12pt;
    }
}

.custom-view-left {
    width: 33%;
    margin-right: 24px;
    padding-top: 56px;
}
.custom-view-right {
    width: 60%;
    margin-right: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.clear {
    clear: both;
}

.actions-block {
    margin-top: 15px;
}

.changelog_section {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
}

@media (max-width: 415px) {
    .mat-card-actions {
        display: table !important;
    }
    .actions-button {
        margin: 0px 0px 15px 0px !important;
        width: 100%;
        height: 50px;
    }
}
