
@font-face {
    font-family: "Trebucit";
    src: url("/assets/fonts/trebucit/trebuc.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Trebucit";
    src: url("/assets/fonts/trebucit/trebucbd.ttf");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Trebucit";
    src: url("/assets/fonts/trebucit/trebucbi.ttf");
    font-style: oblique;
    font-weight: normal;
}
@font-face {
    font-family: "Trebucit";
    src: url("/assets/fonts/trebucit/trebucti.ttf");
    font-style: italic;
    font-weight: normal;
}