@import 'prismjs/themes/prism.css';
html, body {
    height: 100%;
    font-family: Trebucit, Arial, Tahoma, sans-serif;
}
.hidden {
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea,
input.text,
input[type=text],
input[type=button],
input[type=submit],
.input-checkbox {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-appearance: none !important;
    border-radius: 0 !important;
}
input[type=number] {
    -moz-appearance:textfield;
}

input {
    background: transparent !important;
}

.highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
    fill: #52b415 !important;
}

.layout {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #fafafa;
}

.bg-image {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}

@media(min-width: 1921px) {
    .bg-image {
        // background: url('/assets/img/background-desktop-2x.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }
}

@media(max-width: 1920px) {
    .bg-image {
        // background: url('/assets/img/background-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }
}

@media(max-width: 1024px) {
    .bg-image {
        // background: url('/assets/img/background-device.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
    }
}

.layout-overflow {
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.layout-overflow-lk {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.page {
    margin-left: 210px;
    min-height: 100%;
}

.hero-box-link {
    color: #ffffff !important;
    margin-right: 20px;
    font-size: 16pt;
    &:hover {
        color: #ffffff !important;
    }
}

mat-sidenav-content {
    height: calc(100vh - 144px) !important;
}
@media (max-width: 599px) {
    mat-sidenav-content {
        height: calc(100vh - 136px) !important;
    }
}

.cube-bg {
    opacity: 0.5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 89%;
    height: auto;
    max-width: 1255px;
    min-width: 600px;
}

.hero-headers__stamp {
    color: #0f3a58 !important;
    font-weight: bold;
}

.hero-headers__stamp-span {
    font-size: 40px;
    font-weight: bold;
    color: #0f3a58;
}

.hero-box {
    background: #D9F1FB;
    padding: 40px 40px;
    z-index: 1;
	width: 100%;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 415px) {
    .hero-headers {
        text-align: center;
    }
    .hero-headers__stamp {
        font-size: 20pt !important;
        line-height: 20pt !important;
    }
    .hero-headers__stamp-span {
        font-size: 18pt !important;
        line-height: 18pt !important;
    }
}

.displayFlex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    
    .main-flex {
        min-height: calc(100vh - 230px);
    }

    .footer-flex {
        min-height: 150px;
    }
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent !important;
}


mat-cell span {
    line-height: 16px;
}
mat-cell {
    min-height: 30px;
}
mat-row {
    &:hover {
        & > mat-cell {
            & > .link-to-view {
                text-decoration: underline !important;
            }
        }
    }
}
.error_field {
    & label {
        font-weight: bold;
        color: #eb0c0c !important;
    }
    & .mat-form-field-underline {
        background-color: #eb0c0c !important;
    }
}

.box-content {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2)
}

.mat-card-actions {
    display: flex !important;
}

.mat-select-value,
.mat-input-element {
    color: #063958 !important;
    &:focus {
        color: #063958 !important;
    }
}

.mat-hint,
.mat-select-arrow,
.mat-form-field-label,
.mat-paginator-page-size-label,
.mat-paginator-range-label,
.mat-radio-label-content {
    color: rgba(6, 57, 88, 0.5) !important
}

.mat-radio-outer-circle {
    border-color: rgba(6, 57, 88, 0.5) !important;
}

.mat-form-field-label,
.mat-focused .mat-form-field-label,
.mat-focused .mat-form-field-underline {
    color: rgba(6, 57, 88, 0.5) !important;
    font-weight: bold !important;
}

.mat-form-field-ripple {
    background-color: rgba(6, 57, 88, 1) !important
}

.mat-form-field-underline {
    // bottom: auto !important;
    background-color: rgba(6, 57, 88, 0.5) !important
}

.global-input {
    max-height: 56px;
    
    & > div {
        padding-top: 1.25em;
    }
}

mat-icon {
    color: rgba(6, 57, 88, 0.5) !important;
    &:focus {
        color: rgba(6, 57, 88, 0.5) !important;
    }
}

.mat-drawer-inner-container {
    &::-webkit-scrollbar-track
    {
        border-radius: 10px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar
    {
        width: 8px;
        background-color: transparent;
    }
    
    &::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        border: 1px solid rgb(21, 116, 184);
        background-color: rgb(9, 42, 66);
    }
}

.mat-step-icon > mat-icon {
    color: #FFF !important;
}

.button-icon {
    & mat-icon {
        color: #FAB92F !important;
    }
    &:hover mat-icon {
        color: #ffffff !important;
    }
}

.mat-horizontal-stepper-header{
    pointer-events: none !important;
}

.mat-raised-button[disabled] {
    color: rgba(255, 255, 255, 0.5) !important;
}

.mat-select-panel,
.select-panel {

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #ffffff;
    }
    
    &::-webkit-scrollbar
    {
        width: 6px;
        background-color: #ffffff;
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: #063958;
    }
}

.nav-menu-button:hover .mat-button-focus-overlay, .nav-menu-button:hover .mat-button-focus-overlay {
    opacity: 0 !important;
}

.mat-raised-button {
    &:enabled {
        background-color: #0C4770 !important;
        color: #FAB92F !important;
    }
    &:hover:enabled {
        color: #FFF !important;
        background-color: #FAB92F !important;
    }

}

.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
    margin: 0 0 0 4px !important;
}

.mat-cell,
.mat-sort-header-button,
.mat-header-cell {
    color: #063958 !important;
    font-weight: bold;
}

.mat-row, .mat-header-row {
    border-bottom-color: rgba(6, 57, 88, 0.3) !important;
}

mat-radio-button:not(:first-child) {
    margin-left: 5px;
}

textarea {
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 3px rgba(6, 57, 88, 0.2);
        background-color: rgba(6, 57, 88, 0.2);
    }
    
    &::-webkit-scrollbar
    {
        width: 3px;
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: rgba(255, 255, 255, 1);
    }
}

@media(max-width: 1024px) {
    .mat-stepper-horizontal {
        height: 100%;
    }
    
    .mat-horizontal-content-container {
        height: calc(100% - 90px);
    }
    .mat-horizontal-stepper-content {
        height: 100%;
    }
    .hero-box {
        padding: 40px 15px;
    }

    .main-content-title {
        padding: 0 15px !important;
    }

    .mat-menu-panel {
        max-height: 60vh !important;
    }
}

@media (max-width: 320px) {
    .mat-horizontal-content-container {
        padding: 0 !important;
    }
}

@media (max-width: 415px) {
    .hero-box-left {
        padding-top: 20px !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}


input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

.mat-drawer:not(.mat-drawer-side) {
    box-shadow: inset 0px 7px 2px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12) !important;
}

$color--green: #7ac142;
$color--red: #eb0c0c;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
  
@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
  
@keyframes fill-green {
    100% {
    box-shadow: inset 0px 0px 0px 30px $color--green;
    }
}
  
@keyframes fill-red {
    100% {
    box-shadow: inset 0px 0px 0px 30px $color--red;
    }
}

.checkmark {
    width: 24px;
    height: 24px;

    &-success {
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px $color--green;
        animation: fill-green .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
    }

    &-error {
        border-radius: 50%;
        animation: fill-red .4s ease-in-out .4s forwards, scale .3s ease-in-out .6s both;
    }

    &__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        fill: none;
        animation: stroke .6s $curve forwards;
    
        &-success {
            stroke: $color--green;
        }
    
        &-error {
            stroke: $color--red;
        }
    }
    
    &__check {
        animation: stroke .3s $curve .8s forwards;
        transform: scale(0.5);
        stroke-width: 3px;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
    }
}
