@import '~@angular/material/theming';

@include mat-core();

$mat-main: (
    50 : #e8eaf6,
    100 : #c5cbe9,
    200 : #9fa8da,
    300 : #7985cb,
    400 : #5c6bc0,
    500 : #FAB92F,
    600 : #394aae,
    700 : #3140a5,
    800 : #29379d,
    900 : #1b278d,
    A100 : #c6cbff,
    A200 : #FAB92F,
    A400 : #606eff,
    A700 : #4757ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// $mat-main: (
//     50 : #e4f8fe,
//     100 : #00B2E4,
//     200 : #00B2E4,
//     300 : #00B2E4,
//     400 : #00B2E4,
//     500 : #00B2E4,
//     600 : #00B2E4,
//     700 : #00B2E4,
//     800 : #00B2E4,
//     900 : #00B2E4,
//     A100 : #00B2E4,
//     // A200 : #b2e2ff,
//     A200 : #00B2E4,
//     A400 : #00B2E4,
//     A700 : #00B2E4,
//     contrast: (
//         50 : #000000,
//         100 : #000000,
//         200 : #000000,
//         300 : #000000,
//         400 : #000000,
//         500 : #ffffff,
//         600 : #ffffff,
//         700 : #ffffff,
//         800 : #ffffff,
//         900 : #ffffff,
//         A100 : #000000,
//         A200 : #000000,
//         A400 : #000000,
//         A700 : #000000,
//     )
// );


$vce-app-primary: mat-palette($mat-main);
$vce-app-accent:  mat-palette($mat-main, A200, A100, A400);
$vce-app-theme: mat-light-theme($vce-app-primary, $vce-app-accent);

@include angular-material-theme($vce-app-theme);