<div *ngIf="navbarState">
    <mat-toolbar class="breadcrumbs mat-elevation-z1">
        <div class="container">
            <button 
                mat-flat-button 
                class="go-back" 
                (click)="goBack()"
                [matTooltip]="'GO_BACK' | translate"
            >
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <div class="breadcrumbs_row_container">
                <ul class="breadcrumbs__row">
                    <li *ngFor="let item of breadcrumbs" class="breadcrumbs__item">
                        <a [routerLink]="[item.url, item.params]" [queryParams]="item.queryParams" class="breadcrumbs__item-link">
                            {{ item.label | translate }}
                        </a>
                    </li>
                </ul>
                <div *ngIf="entityName" class="breadcrumbs__row_entity">
                    <img
                        *ngIf="entityName.image"
                        src="data:image/png;base64,{{entityName.image}}" 
                        alt="companyImg" 
                        class="breadcrumbs__row__img"
                    >
                    <span class="breadcrumbs__row_entity__text">
                        {{entityName.name}}
                    </span>
                </div>
            </div>
            <div class="flex-space"></div>
            <ul class="breadcrumbs__row breadcrumbs-action" *ngIf="actions">
                <li *ngFor="let item of actions | toArray; let i = index" class="breadcrumbs__action">
                    <button 
                        *ngIf="i < 3" 
                        mat-icon-button 
                        class="edit-icon" 
                        [matTooltip]="item.value.label | translate"
                        (click)="actionOnClick(item)"
                    >
                        <mat-icon *ngIf="item.value.icon" class="icon">
                            {{item.value.icon}}
                        </mat-icon>
                        <mat-icon *ngIf="!item.value.icon" class="icon">
                            description
                        </mat-icon>
                    </button>
                </li>
                <li *ngIf="(actions | toArray).length > 3" class="breadcrumbs__action">
                    <mat-menu #menu="matMenu">
                        <ng-container *ngFor="let item of actions | toArray; let i = index">
                            <button *ngIf="i > 2"  mat-menu-item>
                                <mat-icon *ngIf="item.icon" class="icon">
                                    {{item.icon}}
                                </mat-icon>
                                <mat-icon *ngIf="!item.icon" class="icon">
                                    description
                                </mat-icon>
                                {{item.value.label | translate}}
                            </button>
                        </ng-container>
                    </mat-menu>
                        
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar>
</div>