<div>
    <h3>
        {{ 'TASK.EVENT' | translate }}
    </h3>
    <mat-accordion class="accordion">
        <mat-expansion-panel *ngFor="let eventTask of tasks.event; let i = index" [expanded]="step.event === i" (opened)="setStep('event', i)" hideToggle>
            <mat-expansion-panel-header>
                <span class="eventTask-row__left">
                    <span>
                        {{eventTask.data.main.fields.startDate | dateTaskGen}}
                    </span>
                    <span class="eventTask-row__left-time">
                        {{eventTask.data.main.fields.startTime}}
                    </span>
                </span>
                <span class="eventTask-row__center">
                    {{eventTask.data.main.fields.name}}
                </span>
                <span class="eventTask-row__right">
                    {{eventTask.data.main.fields.description}}
                </span>
            </mat-expansion-panel-header>
            <ng-container *ngIf="isEditTask(eventTask)">
                <ng-container *ngFor="let section of taskModuleSectionsOrder">
                    <vce-block [isNotCard]="true" [fieldsData]="taskModuleFieldsData[eventTask.id][section]" [dataSchema]="taskModule.data[section]"
                        [title]="taskModule.data[section].label" [moduleName]="'EDIT'" [actions]="eventTask.actions"
                        (actionEvent)="action($event)" [taskId]="eventTask.id"></vce-block>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!isEditTask(eventTask)">
                <ng-container *ngFor="let section of taskModuleSectionsOrder">
                    <vce-block [isShortWidth]="true" [isNotCard]="true" [fieldsData]="taskModuleFieldsData[eventTask.id][section]" [dataSchema]="taskModule.data[section]"
                        [title]="taskModule.data[section].label" [moduleName]="'VIEW'" [taskId]="eventTask.id"></vce-block>
                </ng-container>
            </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step.event === tasks.event.length" (opened)="setStep('event', tasks.event.length)" hideToggle>
            <mat-expansion-panel-header>
                <span class="add-title">
                    {{ 'TASK.ADD_EVENT' | translate }}
                </span>
                <mat-icon>add_circle_outline</mat-icon>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let section of taskModuleSectionsOrder">
                <vce-block *ngIf="tasks.newEvent && tasks.newEvent[section]"
                    [fieldsData]="tasks.newEvent[section]"
                    [title]="taskModule.data[section].label"
                    [dataSchema]="taskModule.data[section]"
                    [isCreate]="true"
                    [moduleName]="'EDIT'"
                    (errorMessage)="sendErrorMessage($event, 'newEvent')"
                    [isNotCard]="true"
                ></vce-block>
            </ng-container>
            <button mat-raised-button
                [disabled]="!canCreate.newEvent"
                color="primary"
                class="actions-button"
                (click)="create('newEvent')"
            >
                {{ 'SAVE' | translate }}
            </button>
        </mat-expansion-panel>
    </mat-accordion>
    <h3>
        {{ 'TASK.TODO' | translate }}
    </h3>
    <mat-accordion class="accordion">
        <mat-expansion-panel *ngFor="let todoTask of tasks.todo; let i = index" [expanded]="step.todo === i" (opened)="setStep('todo', i)" hideToggle>
            <mat-expansion-panel-header>
                <span class="todoTask-row__cell-1">
                    <span>
                        {{todoTask.data.main.fields.startDate | dateTaskGen}}
                    </span>
                    <span class="todoTask-row__cell-1-time">
                        {{todoTask.data.main.fields.startTime}}
                    </span>
                </span>
                <span class="todoTask-row__cell-2">
                    <span>
                        {{todoTask.data.main.fields.endDate | dateTaskGen}}
                    </span>
                    <span class="todoTask-row__cell-1-time">
                        {{todoTask.data.main.fields.endTime}}
                    </span>
                </span>
                <span class="todoTask-row__cell-3">
                    {{todoTask.data.main.fields.name}}
                </span>
                <span class="todoTask-row__cell-4">
                    <b>{{'task_main_status_' + todoTask.data.main.fields.status | translate}}</b>
                </span>
            </mat-expansion-panel-header>
            <ng-container *ngIf="isEditTask(todoTask)">
                <ng-container *ngFor="let section of taskModuleSectionsOrder">
                    <vce-block [isNotCard]="true" [fieldsData]="taskModuleFieldsData[todoTask.id][section]" [dataSchema]="taskModule.data[section]"
                        [title]="taskModule.data[section].label" [moduleName]="'EDIT'" [actions]="todoTask.actions"
                        (actionEvent)="action($event)" [taskId]="todoTask.id"></vce-block>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!isEditTask(todoTask)">
                <ng-container *ngFor="let section of taskModuleSectionsOrder">
                    <vce-block [isShortWidth]="true" [isNotCard]="true" [fieldsData]="taskModuleFieldsData[todoTask.id][section]" [dataSchema]="taskModule.data[section]"
                        [title]="taskModule.data[section].label" [moduleName]="'VIEW'" [taskId]="todoTask.id"></vce-block>
                </ng-container>
            </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step.todo === tasks.todo.length" (opened)="setStep('todo', tasks.todo.length)" hideToggle>
            <mat-expansion-panel-header>
                <span class="add-title">
                    {{ 'TASK.ADD_TODO' | translate }}
                </span>
                <mat-icon>add_circle_outline</mat-icon>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let section of taskModuleSectionsOrder">
                <vce-block *ngIf="tasks.newTodo && tasks.newTodo[section]"
                    [fieldsData]="tasks.newTodo[section]"
                    [title]="taskModule.data[section].label"
                    [dataSchema]="taskModule.data[section]"
                    [isCreate]="true"
                    [moduleName]="'EDIT'"
                    (errorMessage)="sendErrorMessage($event, 'newTodo')"
                    [isNotCard]="true"
                ></vce-block>
            </ng-container>
            <button mat-raised-button
                [disabled]="!canCreate.newTodo"
                color="primary"
                class="actions-button"
                (click)="create('newTodo')"
            >
                {{ 'SAVE' | translate }}
            </button>
        </mat-expansion-panel>
    </mat-accordion>
    <h3>
        {{ 'TASK.BP' | translate }}
    </h3>
    <mat-accordion class="accordion">
        <mat-expansion-panel *ngFor="let bpTask of tasks.from_bp; let i = index" [expanded]="step.from_bp === i" (opened)="setStep('from_bp', i)" hideToggle>
            <mat-expansion-panel-header>
                <span class="bp-row">
                    <span class="bp-row__left">
                        {{bpTask.data.main.fields.name}}
                    </span>
                    <span class="bp-row__center">
                        <mat-icon *ngIf="!bpTask.whoDid.image" class="bp-row__center__icon">
                            account_circle
                        </mat-icon>
                        <img
                            *ngIf="bpTask.whoDid.image"
                            src="data:image/png;base64,{{bpTask.whoDid.image}}" 
                            alt="companyImg" 
                            class="bp-row__center__img"
                        >
                        <span>
                            {{bpTask.whoDid.name}}
                        </span>
                    </span>
                    <span class="bp-row__right">
                        <b>{{'task_main_status_' + bpTask.data.main.fields.status | translate}}</b>
                    </span>
                </span>
            </mat-expansion-panel-header>
            <ng-container *ngIf="isEditTask(bpTask)">
                <ng-container *ngFor="let section of taskModuleSectionsOrder">
                    <vce-block [isNotCard]="true" [fieldsData]="taskModuleFieldsData[bpTask.id][section]" [dataSchema]="taskModule.data[section]"
                        [title]="taskModule.data[section].label" [moduleName]="'EDIT'" [actions]="bpTask.actions"
                        (actionEvent)="action($event)" [taskId]="bpTask.id" [isOnlyFieldMap]="true"></vce-block>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!isEditTask(bpTask)">
                <ng-container *ngFor="let section of taskModuleSectionsOrder">
                    <vce-block [isShort]="true" [isShortWidth]="true" [isNotCard]="true" [fieldsData]="taskModuleFieldsData[bpTask.id][section]" [dataSchema]="taskModule.data[section]"
                        [title]="taskModule.data[section].label" [moduleName]="'VIEW'" [taskId]="bpTask.id" [isOnlyFieldMap]="true"></vce-block>
                </ng-container>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>
