.bp-row {
    width: 100%;
    display: flex;
    height: 40px;
    line-height: 3;
    &__left {
        width: 40%;
    }

    &__right {
        width: 20%;
    }

    &__center {
        width: 40%;
        display: flex;
        &__img {
            max-height: 40px;
            margin-right: 5px;
        }
        &__icon {
            width: 40px;
            height: 40px;
            font-size: 40px;
            color: #808080 !important;
        }
    }

}

.eventTask-row {
    &__left {
        width: 20%;
        & span {
            display: block;
        }
    
        &-time {
            color: #cecece;
        }
    }

    &__center {
        width: 20%;
        padding: 0 12px;
        line-height: 2;
    }

    &__right {
        width: 60%;
        line-height: 2;
    }
}


.todoTask-row__cell {
    &-1 {
        width: 20%;
        & span {
            display: block;
        }
        &-time {
            color: #cecece;
        }
    }
    &-2 {
        width: 20%;
        & span {
            display: block;
        }
        &-time {
            color: #cecece;
        }
    }
    &-3 {
        width: 40%;
        text-align: center;
        line-height: 2;
    }
    &-4 {
        width: 20%;
        line-height: 2;
    }
}

.add-title {
    line-height: 1.5;
    margin-right: 12px;
}