.footer-about {
    float: right;
    height: auto;
    width: 100px;
}

.container {
    position: relative;
}

.about-us {
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.about-us_field-one,
.about-us_field-other {
    width: 100%;
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.about-us_field-other {
    color: #00B2E4;
}

.about-us_field-one {
    color: #063958;
}

.glass-cube {
    float: right !important;
}

.footer-angle-div {
    height: 150px;
    padding-left: 0 !important;
}
.footer-angle {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 1024px) {
    .footer-angle {
        left: -15px;
    }
}
