<div class="footer">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-3 footer-angle-div">
            </div>
            <div class="about-us">
                <div class="row">
                    <span class="about-us_field-one">{{'FOOTER.ROW1' | translate}}</span>
                </div>
                <div class="row">
                    <span class="about-us_field-other">{{'FOOTER.ROW2' | translate}}</span>
                </div>
                <div class="row">
                    <span class="about-us_field-other">{{'FOOTER.ROW3' | translate}}</span>
                </div>
                <div class="row">
                    <p calss="glass-cube">© {{currentYear}} Glass Cube</p>
                </div>
            </div>
        </div>
    </div>
</div>