<div class="table-container">
    <mat-table #table [dataSource]="dataSource">

        <ng-container *ngFor="let label of displayHeader">
            <ng-container *ngIf="label !== 'actions' && label !== 'bp_instance_link' && label !== 'policies_id' && approvedHeader[label] && label !== 'globalActions'"
                matColumnDef="{{label}}">
                <mat-header-cell *matHeaderCellDef class="row-cell">
                    {{ 'TABLE.HEADER.' + label.toUpperCase() | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element" class="row-cell" [ngClass]="{'disabled': loading}">
                    <a class="hrefLink link-to-view" [routerLink]="'/' + linkedModule +'/view/' + element.id" [ngClass]="{'visibility' : element.viewed === false }">
                        <span [ngClass]="element[label]?.color">
                            {{ element[label]?.color ? element[label].value: element[label] }}
                        </span>
                    </a>
                </mat-cell>
            </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayHeader"></mat-header-row>
        <mat-row *matRowDef="let row; columns: filteredRow" [ngClass]="{'row-not_read':  row.viewed === false}"></mat-row>

    </mat-table>
</div>