$color: #063958;

.breadcrumbs {
    z-index: 2;
    background-color: #ffffff;
    height: 64px;
}

.breadcrumbs__action {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.breadcrumbs__item:not(:last-child):after {
    content: '\203A';
    color: $color;
    font-weight: bold;
    margin-left: 7px;
    line-height: 50px;
}

.breadcrumbs__item-link {
    text-decoration: none;
    color: $color;
    line-height: 50px;
}

.breadcrumbs__item-link:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 20px;
}

.sidenav-button {
    position: absolute;
    right: 0;
    top: 5px;
}

.breadcrumbs__row {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.go-back {
    height: 100%;
    width: 50px;
    &:hover {
        background-color: #fafafa;
    }
}

.edit-icon {
    height: 50px;
    width: 50px;
}

.flex-space {
    flex: 1;
}

.breadcrumbs_row_container {
    display: grid;
    height: 100%;
    justify-content: space-around;
    flex-direction: column; 
}

.breadcrumbs__row_entity {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.breadcrumbs__row__img {
    width: 65px;
    margin: 0 10px;
}

.breadcrumbs__row_entity__text {
    margin: 0;
    color: $color;
    display: block;
}
