<div *ngIf="navbarState">
    <mat-toolbar class="breadcrumbs mat-elevation-z1">
        <div class="container">
            <div class="breadcrumbs_row_container">
                <ul class="breadcrumbs__row">
                    <li class="breadcrumbs__item">
                        <a [routerLink]="[breadcrumb.url, breadcrumb.params]" class="breadcrumbs__item-link">
                            {{ breadcrumb.label | translate }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex-space"></div>
            <ul class="breadcrumbs__row breadcrumbs-action" *ngIf="actions">
                <li *ngFor="let item of actions; let i = index" class="breadcrumbs__action">
                    <button 
                        *ngIf="i < 1" 
                        mat-icon-button 
                        class="edit-icon" 
                        [matTooltip]="item.label | translate"
                        (click)="actionOnClick(item)"
                    >
                        <mat-icon *ngIf="item.icon" class="icon">
                            {{ item.icon }}
                        </mat-icon>
                        <mat-icon *ngIf="!item.icon" class="icon">
                            description
                        </mat-icon>
                    </button>
                </li>
                <li *ngIf="actions.length > 1" class="breadcrumbs__action">
                    <mat-menu #menu="matMenu">
                        <ng-container *ngFor="let item of actions; let i = index">
                            <button *ngIf="i > 0"  mat-menu-item>
                                <mat-icon *ngIf="item.icon" class="icon">
                                    {{ item.icon }}
                                </mat-icon>
                                <mat-icon *ngIf="!item.icon" class="icon">
                                    description
                                </mat-icon>
                                {{ item.label | translate }}
                            </button>
                        </ng-container>
                    </mat-menu>
                        
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar>
</div>