<vce-breadcrumbs-list
    [actions]="breadcrumbsActions"
    (actionEvent)="buttonAction($event)"
></vce-breadcrumbs-list>
<div class="list-content">
    <div class="multi-actions">
        <ng-container *ngFor="let item of actions; let i = index">
            <button *ngIf="i < 3"
                mat-raised-button 
                class="actions-button" 
                (click)="buttonAction(item)"
                [disabled]="!checked.length"
                color="primary"
            >
                {{ item.label | translate }}
            </button>
        </ng-container>
        <ng-container *ngIf="actions.length > 3">
            <mat-menu #menu="matMenu">
                <ng-container *ngFor="let item of actions; let i = index">
                    <button *ngIf="i > 2" mat-menu-item
                        (click)="buttonAction(item)"
                        [disabled]="item.multi && !checked.length"
                    >
                        {{ item.label | translate }}
                    </button>
                </ng-container>
            </mat-menu>
                
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </ng-container>
    </div>
    <div class="filters">
        <vce-filters [moduleSchema]="moduleSchema" (filterEvent)="filterFields($event)"></vce-filters>
    </div>
    <div class="clear"></div>

    <vce-table #list *ngIf="data && data.data"
        [data]="data" 
        [loading]="(isLoading$ | async)" 
        [module]="moduleName" 
        [moduleSchema]="moduleSchema"
        [filterInitData]="initListFilterData.filter"
        [checked]="checked"
        [header]="header"
        [displayHeader]="displayHeader"
        [filteredRow]="filteredRow"
        [approvedHeader]="approvedHeader"
        [labels]="labels"
        [filterData]="filterData"
        (rowAction)="rowAction($event)"
        (pageAction)="pageAction($event)"
    ></vce-table>
</div>

<vce-entity-modal *ngIf="isOpenModal" (onSave)="onSaveModal($event)" (onClose)="isOpenModal = false" [modalData]="modalData"></vce-entity-modal>
<vce-entity-modal-v2 *ngIf="isOpenModalV2" (onAction)="onActionModalV2($event)" (onClose)="isOpenModalV2 = false" [modalData]="modalDataV2"></vce-entity-modal-v2>
