.list-content {
    padding: 40px 20px 20px 20px;
}

.list-content .multi-actions {
    float: left;
}

.list-content .filters {
    float: right;
}

.clear {
    clear: both;
}

.actions-button {
    margin-bottom: 15px;
    margin-right: 10px;
}

@media (max-width: 415px) {
    .actions-button {
        margin: 0px 0px 15px 0px !important;
        width: 100%;
        height: 50px;
    }
}