.sidenav-container {
    position: fixed;
    width: 100%;
    height: calc(100vh - 144px);
    background-color: transparent !important;
    color: transparent !important;

    .sidenav {
        width: 640px;
        max-width: 100%;

        &-navbar {
            margin-top: 12px;
            margin-bottom: 12px;
            padding-left: 24px;
        }

        &-content {
            margin-top: 12px;
        }

        &-accordion {
            margin-top: 3px;
            display: block;

            &__panel-title {
                display: flex;
                align-items: center;
            }

            .mat-expansion-panel-header-title, 
            .mat-expansion-panel-header-description {
                flex-basis: 0;
            }

            .mat-expansion-panel-header-description {
                justify-content: space-between;
                align-items: center;
            }
        }
    }

    &.not-logined,
    &.not-logined .sidenav-content  {
        display: inherit;
        position: inherit;
    }
}

.settings {
    display: flex;
    padding-left: 12px;
    &-items {
        width: calc(100% - 96px);
    }
    &-actions {
        width: 96px;
        display: flex;
        &__button {
            width: 40px;
            height: 100%;
            & button {
                top: 28%;
            }
        }
    }
}

.burn-form {
    width: 100%;
}

.mat-form {
    width: 60%;
}

.modal-content-body {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &-button {
        padding-top: 20px;
    }
}

.sidenav-container,
.sidenav-content {
    z-index: inherit;
}

.view-content-card-form__width-50 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 47.5%;
}

@media(max-width: 599px) {
    .sidenav-container {
        height: calc(100vh - 136px);
    }
}
