<mat-sidenav-container class="sidenav-container" [ngClass]="{'logined': logined, 'not-logined': !logined}">
    <mat-sidenav #sidenav [mode]="'over'" class="sidenav">
        <!-- <div class="sidenav-navbar">
                <mat-slide-toggle [(ngModel)]="isOpenAllSettings">Show all settings</mat-slide-toggle>
        </div> -->
        <!-- <mat-accordion class="sidenav-accordion" [multi]="isOpenAllSettings" displayMode="flat">
            <mat-expansion-panel hideToggle="true" *ngFor="let setting of allowedSettings" [expanded]="isOpenAllSettings">
                <mat-expansion-panel-header>
                    <mat-panel-title class="sidenav-accordion__panel-title">
                        {{setting.schema.label}}
                    </mat-panel-title>
                    <mat-panel-description>
                        Click for view
                        <mat-icon>dashboard</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header> -->
                <div class="sidenav-content">
                    <form *ngFor="let setting of allowedSettings let i = index">
                        <div class="settings">
                            <div class="settings-items">
                                <vce-forms *ngIf="setting.key && setting.edit" [field]="setting" isFullWidth="true" (errorMessage)="sendErrorMessage(setting.key, $event)"></vce-forms>
                                <vce-view-forms *ngIf="setting.key && !setting.edit" [field]="setting"></vce-view-forms>
                            </div>
                            <div class="settings-actions">
                                <div class="settings-actions__button">
                                    <button *ngIf="setting.edit && setting.actions.edit" mat-icon-button (click)="save(setting)">
                                        <mat-icon>done</mat-icon>
                                    </button>
                                </div>
                                <div class="settings-actions__button">
                                    <button *ngIf="setting.edit && setting.actions.delete" mat-icon-button>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        <!-- <vce-block
                            [(data)]="setting.data" 
                            [dataSchema]="{value: setting.schema}" 
                            [moduleName]="'EDIT'"
                            [isCreate]="false"
                            [isNotCard]="true"
                            [isFullWidth]="true"
                            (saveEvent)="save($event)"></vce-block> -->
                        </div>
                    </form>
                </div>
                    <!-- <vce-forms *ngIf="setting.key" [field]="setting"  (errorMessage)="sendErrorMessage(setting.key, $event)"></vce-forms> -->

            <!-- </mat-expansion-panel>
        </mat-accordion> -->
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
