<vce-modal [modalWidth]="780" [backgroundColor]="'#FFF'" (closeAction)="close()">
    <div class="content">
        <div class="content-head">
            {{ modalData.title | translate }}
        </div>
        <div class="content-body">
            <ng-container *ngFor="let section of modalData.sectionsOrder">
                <vce-block *ngIf="modalData.data && modalData.data[section]"
                   class="block"
                   [fieldsData]="fieldsData[section]"
                   [dataSchema]="modalData.data[section]"
                   [moduleName]="'EDIT'"
                   [isFullWidth]="true"
                   [isNotCard]="true"
                ></vce-block>
            </ng-container>
            <vce-actions (actionEvent)="onActions($event)" [actions]="modalData.actions" [enableCancel]="false"></vce-actions>
        </div>
    </div>
</vce-modal>
