.content {
    overflow: hidden;
    padding: 10px;
    max-height: 100vh;
    &-head {
        text-align: center;
        line-height: 70px;
        font-size: 40px;
        color: #333333;
    }
    &-body {
        overflow: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-height: calc(100vh - 80px);
        color: #000000;
    }
    &-action {
        &-btn {
            margin-right: 12px;
        }
    }
}

.actions-button {
    margin-right: 10px;
}
