:host {
    display: inline-flex;
    width: calc(100% - 5px);
    align-items: baseline;
    justify-content: space-between;
}

:host:not(.file-input-disabled) {
    cursor: pointer;
}

input {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.filename {
    display: inline-block;
    width: calc(100% - 30px);
}
