<input #input id="md-input-file" type="file" [attr.multiple]="multiple? '' : null">
<span class="filename">{{fileNames}}</span>

<div class="checkmark">
    <mat-icon matSuffix *ngIf='!error && !progress'>folder</mat-icon>
    <mat-progress-spinner *ngIf='!error && progress < 101'
        diameter="24"
        [mode]="'determinate'"
        [value]="progress">
    </mat-progress-spinner>

    <svg *ngIf='!error && progress === 101' class="checkmark-success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <circle class="checkmark__circle checkmark__circle-success" cx="12" cy="12" r="11" fill="none"/>
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
    </svg>

    <svg *ngIf='error' (click)='sendFiles(value.files, $event)' [matTooltip]="'WIDGETS.INPUTFILE.TRY_UPLOAD_AGAIN' | translate" [matTooltipPosition]="'above'"
    class="checkmark-error" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <circle class="checkmark__circle checkmark__circle-error" cx="12" cy="12" r="11" fill="none"/>
        <circle cx="12" cy="19" r="2.4" fill="#fff"/>
        <path d="M10 3h4v12h-4z" fill="#fff"/>
    </svg>
</div>