.forms {
    &__element {
        & > mat-form-field {
            width: 100%;
        }
    }
    
    &__chip-list {
        outline: none;
    }
    
    &__radio-group {
        display: inline-flex;
        flex-direction: column;
    }
    
    &__radio {
        margin-top: 10px;
    }

    &__textarea {
        max-height: 2em;
        resize: none;
    }

    &__link {
        cursor: pointer;
    }
}

.markdown {
    cursor: pointer;
    color: rgba(6, 57, 88, 0.5) !important;
    &-actions {
        margin: 0px 0px 12px 30px;
        &__cancel {
            margin-left: 12px;
        }
    }
}

.view-content-card-form__width-20 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 17.5%;
}

.view-content-card-form__width-25 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 22.5%;
}

.view-content-card-form__width-50 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 47.5%;
}

.view-content-card-form__width-75 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 72.5%;
}

.view-content-card-form__width-100 {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    width: 98.5%;
}

.mat-icon-suffix {
    background-color: white !important;
}

.price-prefix {
    margin-right: 3px;
}
