<div *ngIf="validationErrors?.length === 0 && fieldData?.edit" 
    class="forms__element view-content-card-form__width-{{width}}"
    [ngSwitch]="fieldData.display_type">

    <mat-form-field *ngSwitchCase="'string'">
        <input matInput 
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'time'">
        <input matInput 
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="'^([0-1]?\\d|2[0-3]):([0-5]\\d)(:[0-5]\\d)?$'"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field shouldLabelFloat  *ngSwitchCase="'markdown'">
        <mat-label>{{ fieldData.label | translate }} {{fieldData.required ? '*' : ''}}</mat-label>
        <input (click)="openMarkdown()" class="markdown" matInput value="{{ 'MARKDOWN.CLICK' | translate }}" readonly="true">
        <mat-hint *ngIf="isErrorMarkdown" style="color: #eb0c0c !important;">
            {{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}
        </mat-hint>
    </mat-form-field >

    <mat-form-field *ngSwitchCase="'hidden'">
        <input matInput 
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'password'">
        <input matInput 
            name="f"
            #f="ngModel"
            type="password"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'file'">
        <vce-input-file 
            name="f"
            #f="ngModel"
            [fieldName]="fieldData.key"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [ngModel]="fieldData.model"
            [inputFilenames]="[fieldData.value]"
            (returnCodes)="fieldData.value = $event ? $event[0] : ''"
            ></vce-input-file>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'multipleFile'">
        <vce-input-file 
            name="f"
            [multiple]="true"
            #f="ngModel"
            [fieldName]="fieldData.key"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [ngModel]="fieldData.model"
            [inputFilenames]="[fieldData.value]"
            (returnCodes)="fieldData.value = $event"
        ></vce-input-file>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'common_symbols_string'">
        <input matInput 
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            (paste)="commonSymbolsFilter($event)" 
            (keypress)="commonSymbolsFilter($event)"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'link'">
        <input matInput 
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'multi_label_link'">
        <input
            type="hidden"
            name="f"
            #f="ngModel"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [value]="fieldData.value"
            [(ngModel)]="fieldData.value">
        <mat-chip-list #chipList>
            <mat-chip
                *ngFor="let chip of fieldData.value"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="onMultipleRemove(chip)">
                {{chip.label}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput
                type="text"
                #chipAutocompleteInput
                [formControl]="selectedText"
                [disabled]="!fieldData.edit"
                [required]="fieldData.required"
                [placeholder]="fieldData.label | translate"
                [matChipInputFor]="chipList"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                >
        </mat-chip-list>
        <button class="mat-icon-close" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetValue()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of autocompleteResult" [value]="item.name" (onSelectionChange)="onMultipleSelected(item)">
                {{ item.name }}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="'label_link'">
        <input
            type="hidden"
            name="f"
            #f="ngModel"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [value]="fieldData.value"
            [(ngModel)]="fieldData.value">
        <input matInput
            type="text"
            [formControl]="selectedText"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [placeholder]="fieldData.label | translate"
            [matAutocomplete]="auto">
        <vce-link-modal matSuffix [field]="fieldData" (selectElementAction)="selectElement($event)"></vce-link-modal>
        <button class="mat-icon-suffix" mat-button matSuffix mat-icon-button aria-label="Clear" type="button" (click)="resetValue()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of autocompleteResult" [value]="item.name" (onSelectionChange)="onSelectionChange(item)">
                {{ item.name }}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dependent_label_link'">
        <input
            type="hidden"
            name="f"
            #f="ngModel"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [value]="fieldData.value"
            [(ngModel)]="fieldData.value">
        <input matInput
            type="text"
            [formControl]="selectedText"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [placeholder]="fieldData.label | translate"
            [matAutocomplete]="auto">
        <button class="mat-icon-close" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetValue()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of autocompleteResult" [value]="item.name" (onSelectionChange)="onSelectionChange(item)">
                {{ item.name }}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'external_link'">
        <input matInput 
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'textarea'">
        <textarea matInput
            name="f"
            #f="ngModel"
            class="forms__textarea"
            [maxlength]="fieldData.length"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [(ngModel)]="fieldData.value"></textarea>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-hint *ngIf="fieldData.length" align="end">
            {{ f.value?.length || 0 }} / {{ fieldData.length }}
        </mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-checkbox *ngSwitchCase="'checkbox'" 
        class="forms__checkbox"
        color="primary"
        name="f"
        #f="ngModel"
        disableRipple="true"
        (change)="checkboxChange()"
        [disabled]="!fieldData.edit"
        [(ngModel)]="fieldData.value">
        {{ fieldData.label | translate }}
    </mat-checkbox>

    <vce-datepicker *ngSwitchCase="fieldData.display_type === 'date' || fieldData.display_type === 'datetime' ? fieldData.display_type : ''"
        [readonly]="false"
        [required]="fieldData.required"
        [placeholder]="fieldData.label | translate"
        [(date)]="fieldData.value"
        [required]="fieldData.required"
        [cancelText]="'CANCEL' | translate"
        (dateChanged)="updateDate($event)"
        [dateFormat]="'DD.MM.YYYY'"
    >
    </vce-datepicker>
    <mat-form-field *ngSwitchCase="'email'">
        <input matInput
            type="email"
            [email]="fieldData.value != '' && fieldData.value != null"
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.EMAIL_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.email">
            {{ 'WIDGETS.FORMS.ENTER_CORRECT_EMAIL_LABEL' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'number'">
        <input matInput
            type="number"
            name="f"
            #f="ngModel"
            (paste)="numberFilter($event)" 
            (keypress)="numberFilter($event)"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'float'">
        <input matInput
            type="float"
            name="f"
            #f="ngModel"
            [cvmMask]="floatBeforeComma"
            [fraction]="floatAfterComma"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'zipcode'">
        <input matInput
            type="text"
            name="f"
            minlength="6"
            maxlength="6"
            #f="ngModel"
            (paste)="numberFilter($event)" 
            (keypress)="numberFilter($event)"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-hint align="end">{{fieldData.value?.length || 0}}/6</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.minlength">
            {{ 'WIDGETS.FORMS.ENTER_CORRECT_ZIP_LABEL' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'phone'">
        <input matInput
            cvmOnKeyDown
            minlength="5"
            maxlength="15"
            type="text"
            name="f"
            #f="ngModel"
            onpaste="return false;"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [(ngModel)]="fieldData.value">
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.minlength">
            {{ 'WIDGETS.FORMS.ENTER_CORRECT_PHONE_LABEL' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'multiselect'">
        <mat-select [placeholder]="fieldData.label | translate" 
            multiple
            name="f"
            #f="ngModel"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [value]="fieldData.value"
            [(ngModel)]="fieldData.value">
            <mat-option *ngFor="let item of fieldData.list_data" [value]="item.value">
                {{ item.label | translate }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="fieldData.info">{{fieldData.info}}</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'chips'">
        <mat-chip-list #chipList
                    name="f"
                    #f
                    class="forms__chip-list"
                    [disabled]="!fieldData.edit"
                    [required]="fieldData.required">
            <mat-chip *ngFor="let item of fieldData.list_data"
                    [disabled]="!fieldData.edit"
                    [removable]="fieldData.edit"
                    (remove)="removeChip(item)">
                    {{ item | translate }}
                <mat-icon matChipRemove *ngIf="fieldData.edit">cancel</mat-icon>
            </mat-chip>
            <input [disabled]="!fieldData.edit"
                    [placeholder]="fieldData.label | translate"
                    [matChipInputFor]="chipList"
                    [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addChip($event)" />
        </mat-chip-list>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="fieldData.required && fieldData.list_data?.length === 0">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-radio-group *ngSwitchCase="'radio'" 
        [(ngModel)]="fieldData.value" 
        [disabled]="!fieldData.edit"
        class="forms__radio-group">
        <div [ngClass]="{'forms__radio-label-disabled': !fieldData.edit}">
            {{ (fieldData.label | translate) + ':' }}
        </div>
        <mat-radio-button *ngFor="let item of fieldData.list_data"
            color="primary" 
            class="forms__radio"  
            [value]="item.value"
            disableRipple="true">
            {{ item.label | translate }}
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngSwitchCase="'price'">
        <input matInput
            name="f"
            #f="ngModel"
            [placeholder]="fieldData.label | translate"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [pattern]="fieldData.pattern"
            [(ngModel)]="fieldData.value">
        <span matPrefix class="price-prefix">{{ fieldData.shortLabel | translate }}</span>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.pattern">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.INVALID_LABEL' | translate }}</strong>
        </mat-error>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'system_label_link'" >
        <input
            type="hidden"
            name="f"
            #f="ngModel"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [value]="fieldData.value"
            [(ngModel)]="fieldData.value"
        >
        <input matInput
            type="text"
            [formControl]="selectedText"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [placeholder]="fieldData.label | translate"
            [matAutocomplete]="systemLabelLink"
        >
        <mat-autocomplete #systemLabelLink="matAutocomplete" >
            <mat-option *ngFor="let item of filteredOptions | async" [value]="item.name" (click)="onSelectionChange(item)">
                {{ item.name | translate }}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchDefault>
        <mat-select [placeholder]="fieldData.label | translate"
            name="f"
            #f="ngModel"
            [disabled]="!fieldData.edit"
            [required]="fieldData.required"
            [(ngModel)]="fieldData.value">
            <mat-option *ngFor="let item of fieldData.list_data" [value]="item.value">
                {{ item.label | translate }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="fieldData.info">{{ fieldData.info | translate }}</mat-hint>
        <mat-error *ngIf="f.errors?.required">
            {{ 'WIDGETS.FORMS.THIS_FIELD_IS_LABEL' | translate }}<strong>{{ 'WIDGETS.FORMS.REQUIRED_LABEL' | translate }}</strong>
        </mat-error>
    </mat-form-field>
</div>

<vce-modal *ngIf="isOpenMarkdown" [modalWidth]="1024" (closeAction)="closeMarkdown()">
    <vce-markdown [(data)]="fieldData.value"></vce-markdown>
    <div class="markdown-actions">
        <button mat-raised-button 
            color="primary"
            (click)="closeMarkdown()"
        >
            {{ 'OK' | translate }}
        </button>
    </div>
</vce-modal>
