.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
}
.loading-bar__progress {
    z-index: 99998;
    background-color: #eb0c0c;
    height: 2px;
    width: 200px;
    box-shadow: 0 0 1px 0;
    transition: all .5s ease-in-out;
}