.error-wrapper {
    /*display: inline-block;*/
    margin: 150px auto 0;
    text-align: center;
}
.error__title {
    font-size: 27px;
    margin-bottom: 40px;
    color: #3F9ADD;
}
.error__content-text {
    margin-top: 35px;
    margin-bottom: 15px;
    color: #81888c;
}
.error__content-link {
    display: block;
    color: #3F9ADD;
}