@import '../../../../assets/css/vce-theme';

$primary: map-get($vce-app-theme, primary);

.view-content {
    padding: 20px;
}

.view-content-card-box {
    margin-top: 20px;
}

.view-content-card-form__width-50 {
    padding-left: 10px;
    padding-right: 10px;
    width: 47.5%;
}
.view-content-card-form__width-100 {
    padding-left: 10px;
    padding-right: 10px;
    width: 98%;
}

.view-content-card-form__link {
    cursor: pointer !important;
    &:hover {
        color: mat-color($primary, A700);;
    }
}

.view-content-card-form-input__link {
    cursor: pointer !important;
}

.view-content-files-card {
    margin-top: 15px;
}

.actions-button {
    margin-right: 10px;
}

.clear {
    clear: both;
}

@media (max-width: 1024px) {
    .view-content-card-form__width-100,
    .view-content-card-form__width-50 {
        width: 98%;
    }
}
