<vce-breadcrumbs
    [actions]="{}"
></vce-breadcrumbs>
<div class="view-content">
    <ng-container *ngIf="dataSchema && dataSchema.data">
        <ng-container *ngFor="let section of sectionsOrder">
            <vce-block *ngIf="fieldsData && fieldsData[section]"
                [fieldsData]="fieldsData[section]"
                [title]="dataSchema.data[section].label"
                [dataSchema]="dataSchema.data[section]"
                [isCreate]="isCreate"
                [moduleName]="'EDIT'"
                (errorMessage)="sendErrorMessage($event)"
            ></vce-block>
        </ng-container>
    </ng-container>

    <div class="clear"></div>

    <ng-container *ngIf="fieldsData">
        <vce-actions (cancelEvent)="cancel()">
            <button mat-raised-button
                [disabled]="!canSave"
                color="primary"
                class="actions-button"
                (click)="save()"
            >
                {{'SAVE' | translate}}
            </button>
        </vce-actions>
    </ng-container>
</div>
