:host {
    position: absolute;
    z-index: 100;
}
.outer {
    left: 0;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    height: calc(100vh - 144px);
    width: 100vw;
    top: 144px;
    background-color: rgba(0, 0, 0, 0.39);
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.inner {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    position: relative;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 2px;
    overflow-x: hidden;
}

.icon-delete-circle {
    color: #063958;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}

@media (max-width: 767px), (max-height: 415px) {

    .outer {
        height: calc(100% + 50px);
    }

    .inner {
        max-width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

