<div class="outer" [@dialog] *ngIf="visible">
    <div class="inner" 
        [style.width]="modalWidth + 'px'"
        [style.background-color]="backgroundColor === 'default' ? '#ffffff' : backgroundColor"
        >
        <div (click)="closeDialog()" class="close">
            <i class="icon-delete-circle"
            [style.color]="'#063958'"
            ></i>
        </div>
        <ng-content></ng-content>
    </div>
</div>