*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.step-content {
    min-height: 300px;
    text-align: center;
}

.content-body-button {
    float: right;
}

.content {
    overflow: hidden;
    padding: 10px;
    max-height: 100vh;
    &-head {
        text-align: center;
        line-height: 70px;
        font-size: 40px;
    }
    &-body {
        overflow: auto;
        padding-left: 20px;
        padding-right: 20px;
        max-height: calc(100vh - 80px);
        border: 1px #888 solid;
    }
}

.content-body_canvas {
    height: 800px;
    width: 1160px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
