.block {
    margin-bottom: 15px;
    display: inline-block;
    float: left;
    
    &__header {
        width: 100%;
        padding: 5px;
        position: relative;

        &-button {
            float: right;
            position: absolute;
            right: 10px;
            top: 0px;
        }
    }
    
    &__title {
        font-size: 24px;
        max-width: 80%;
    }
    
    &__line-break {
        width: 100%;
    }
}

.notBG {
    background: transparent !important;
    border: none;
    box-shadow: none !important;
    padding: 0 !important;
}

.card_header_title {
    margin: 10px 0px;
}



.bw-1-1,
.bw-1-2 {
    box-sizing: border-box;
    margin-bottom: 20px;
}

.bw-1-2 {
    display: inline-block;
}    

.bw-1-1 {
    max-width: 100%;
}

.view-content-card__width-50 {
    margin-right: 20px;
    width: 46%;
}

.view-content-card__width-100 {
    width: 97%;
}

@media only screen and (min-width: 1024px) {
    .bw-1-2 {
        max-width: 49%;
    }
} 
@media only screen and (max-width: 1023px) {
    .bw-1-2 {
        max-width: 100%;
    }
}
