<mat-card *ngIf="listData" [ngClass]="{'notBG': isNotCard}" class="block view-content-card__width-{{width}}">
    <mat-card-header *ngIf="title" class="card_header_title">
        {{ title | translate }}
    </mat-card-header>
    <mat-card-content>
        <form>
            <ng-container *ngIf="listData && dataSchema && dataSchema.sortOrder">
                <ng-container *ngFor="let field of dataSchema.sortOrder">
                    <ng-container [ngSwitch]="listData[field].display_type">
                        <ng-container *ngSwitchCase="'section'">
                            <ng-container *ngIf="((isCreate && listData[field].create) || listData[field].edit) &&
                                (moduleName !== 'VIEW' || (!isShort || listData[field].show_in_short_view)) && !isOnlyFieldMap">
                                <mat-card-subtitle>{{ listData[field].label | translate }}</mat-card-subtitle>
                                <ng-container *ngFor="let subField of listData[field].sortOrder">
                                    <vce-forms *ngIf="moduleName !== 'VIEW'"
                                        [(field)]="listData[field].fields[subField]" [fieldName]="subField"
                                        [isCreate]="isCreate" (errorMessage)="sendErrorMessage($event)"></vce-forms>
                                    <vce-view-forms
                                        *ngIf="moduleName === 'VIEW' && (!isShort || listData[field].show_in_short_view)"
                                        [(field)]="listData[field].fields[subField]"
                                        [width]="isShortWidth ? '25%' : '100%'"></vce-view-forms>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchCase="'field_map'">
                            <ng-container *ngIf="(isCreate && listData[field].create) || listData[field].edit">
                                <ng-container *ngFor="let mapField of listData[field].sortOrder">
                                    <vce-forms *ngIf="moduleName !== 'VIEW'"
                                        [(field)]="listData[field].value.field_info[mapField]" [fieldName]="mapField"
                                        [isCreate]="isCreate" (errorMessage)="sendErrorMessage($event)"></vce-forms>
                                    <vce-view-forms
                                        *ngIf="moduleName === 'VIEW' && (!isShort || listData[field].show_in_short_view)"
                                        [(field)]="listData[field].value.field_info[mapField]"
                                        [width]="isShortWidth ? '25%' : '100%'"></vce-view-forms>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <ng-container *ngIf="!isOnlyFieldMap">
                                <vce-forms *ngIf="moduleName !== 'VIEW'" [(field)]="listData[field]" [fieldName]="field"
                                    [isCreate]="isCreate" (errorMessage)="sendErrorMessage($event)"></vce-forms>
                                <vce-view-forms
                                    *ngIf="moduleName === 'VIEW' && (!isShort || listData[field].show_in_short_view)"
                                    [(field)]="listData[field]" [width]="isShortWidth ? '25%' : '100%'"></vce-view-forms>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>
        </form>
    </mat-card-content>
    <ng-container *ngIf="actions">
        <mat-card-actions>
            <vce-actions [actions]="actions" [enableCancel]="false" (actionEvent)="action($event)"></vce-actions>
        </mat-card-actions>
    </ng-container>
</mat-card>
