<ng-container *ngIf="data && data.length">
    <ng-container *ngFor="let block of data">
        <mat-card class="table-part">
            <mat-card-header>
                {{ block.moduleName | translate }} - {{ block.fieldLabel | translate }}
            </mat-card-header>
            <mat-card-content>
                <mat-table [dataSource]="block.dataSource">
                    <ng-container matColumnDef="item">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.ITEM' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{ element.entityId.label }}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="quantity">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.QUANTITY' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.quantity }}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="price">
                        <mat-header-cell *matHeaderCellDef>{{ 'TABLE_PART.PRICE' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{ element.price }}
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <div class="table-part-summary">{{ 'TABLE_PART.SUMMARY' | translate }}: {{ block.summary }}</div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</ng-container>
    