.outer {
    font-family: 'Roboto', sans-serif;
    z-index: 1000;
    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.39);
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 600px;
    border-radius: 3px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.icon-wn-arrow-left {
    background: none;
    border: none;
    cursor: pointer;
    float: left;
    line-height: 3;
    font-size: 25px;
    &:focus {
        outline: none;
    }
    &>i:active {
        background-color: #cecece;
    }
}

.date-interval-month-btn_left-month>button {
    display: none;
}

.icon-wn-arrow-right {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    line-height: 3;
    font-size: 25px;
    &:focus {
        outline: none;
    }
    &>i:active {
        background-color: #cecece;
    }
}

.date-interval-content {
    display: block;
    padding: 25px;
}

.date-interval-head-selection {
    display: block;
    width: 35%;
    float: left;
    margin-right: 15%;
}

.date-interval-head-selection__from {
    position: relative;
    &::after {
        position: absolute;
        display: block;
        top: 0;
        right: -3rem;
        bottom: 0;
        width: 1rem;
        height: 2rem;
        margin: auto;
        text-align: center;
        font-size: 2rem;
        font-family: "icons-font" !important;
        content: "M";
        line-height: 1;
        color: #8c8c8c;
    }
}

.date-interval-head-date {
    font-size: 50px;
    width: 30%;
    display: block;
    float: left;
}

.date-interval-head-month {
    display: block;
    height: 100%;
    font-size: 18px;
    padding-top: 9px;
}

.date-interval-month {
    line-height: 70px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
}

small {
    font-size: 10pt;
    margin-bottom: 10px;
    display: block;
    color: #848484;
}

.date-interval-calendar__head {
    color: #848484;
    text-align: center;
}

.date-interval-day {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 -1px 2px;
    padding: 0 1px;
    background: transparent;
    border: 0;
    color: #094f90;
    outline: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: background-color .12s ease, color .12s ease;
    transition: background-color .12s ease, color .12s ease;
    cursor: pointer;
}

.date-interval-day>span {
    position: absolute;
    display: block;
    top: 3px;
    bottom: 3px;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    padding-top: 9px;
    border-radius: 50%;
    text-align: center;
    -webkit-transition: background-color .12s ease, color .12s ease;
    transition: background-color .12s ease, color .12s ease;
    &:hover {
        background-color: #094f90;
        color: #fff;
    }
}

.disabled {
    cursor: default;
    color: #a3bbd2 !important;
    &:hover {
        color: #a3bbd2 !important;
        background-color: #fff !important;
    }
}

.date-interval-month-label {
    color: #848484;
}

.date-interval-calendar {
    padding-right: 2px;
    padding-left: 2px;
    display: block;
    &>table {
        width: 100%;
        margin-top: 15px;
    }
}

.date-interval-primary {
    border-right: 1px solid #dbdbdb;
}

.is-not-current {
    visibility: hidden;
}

.is-disabled {
    cursor: default;
}

.date-interval-column {
    display: table-cell;
}

.date-interval-container {
    display: table;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
}

.reveal-footer-button {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background: #007adf;
    border: 2px solid #007adf;
    cursor: pointer;
    font-weight: 600;
    line-height: 20px;
    border-radius: 5px 5px;
    display: inline-block;
    margin: 10px 10px 0 0;
    transition: all 0.4s ease-in-out;
    &:hover {
        color: #007adf;
        background: transparent;
        border: 2px solid #007adf;
    }
}

.is-in-interval-day {
    background-color: #094f90;
    color: #ffffff;
}

.is-first-day {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.is-last-day {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

@media (max-width: 667px) {
    .inner {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
    .date-interval-head-date {
        font-size: 40px;
        width: 40%;
        display: block;
        float: left;
    }
    .date-interval-head-month {
        display: block;
        height: 100%;
        font-size: 14px;
        padding-top: 9px;
    }
    .date-interval-secondary {
        display: none;
    }
    .date-interval-primary {
        border-right: none;
    }
    .date-interval-month-btn_left-month>button {
        display: block;
    }
    .date-interval-head-selection__from {
        &::after {
            right: -1rem;
        }
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        width: 100%;
    }
}

@media (max-height: 414px) {
    .date-interval-content {
        padding: 10px;
    }
    .date-interval-day>span {
        width: 26px;
        padding-top: 6px;
    }
    .date-interval-day {
        height: 30px;
    }
    .icon-wn-arrow-right {
        line-height: 2;
    }
    .icon-wn-arrow-left {
        line-height: 2;
    }
    .date-interval-month {
        line-height: 44px;
    }
    small {
        margin-bottom: 5px;
    }
    .date-interval-calendar>table {
        margin-top: 5px;
    }
    .reveal-footer-button {
        margin: 5px 10px 0 0;
    }
}