<div class="outer">
    <div class="middle">
        <div class="inner">
            <div (click)="close()" class="close">
                <i class="icon-delete-circle"></i>
            </div>
            <div class="date-interval-content">
                <div class="date-interval-head">
                    <div class="date-interval-head-selection date-interval-head-selection__from">
                        <small class="date-interval-head-label">From</small>
                        <div class="date-interval-head-inner">
                            <span class="date-interval-head-date">{{getDate(fromDate).getDate()}}</span>
                            <span class="date-interval-head-month">
                                {{monthNames[getDate(fromDate).getMonth()]}} {{getDate(fromDate).getFullYear()}}
                                <small>{{weekdays[getDate(fromDate).getDay()]}}</small>
                            </span>
                        </div>
                    </div>
                    <div class="date-interval-head-selection">
                        <small class="date-interval-head-label">To</small>
                        <div class="date-interval-head-inner">
                            <span class="date-interval-head-date">{{getDate(toDate).getDate()}}</span>
                            <span class="date-interval-head-month">
                                {{monthNames[getDate(toDate).getMonth()]}} {{getDate(toDate).getFullYear()}}
                                <small>{{weekdays[getDate(toDate).getDay()]}}</small>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="date-interval-container">
                    <div class="date-interval-column date-interval-primary">
                        <div class="date-interval-month">
                            <span class="date-interval-month-btn">
                                <button class="icon-wn-arrow-left" type="button" (click)="prewMont()">
                                    <i class="icon-angle-left"></i>
                                </button>
                            </span>
                            <span class="date-interval-month-label">
                                {{month1.monthName}} {{month1.year}}
                            </span>
                            <span class="date-interval-month-btn date-interval-month-btn_left-month">
                                <button class="icon-wn-arrow-right" type="button" (click)="nextMonth()">
                                    <i class="icon-angle-right"></i>
                                </button>
                            </span>
                        </div>
                        <div class="date-interval-calendar">
                            <table>
                                <thead class="date-interval-calendar__head">
                                    <tr clas="table_row">
                                        <td *ngFor="let day of tableDays">{{day}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let week of month1.calendar">
                                        <td *ngFor="let day of week">
                                            <button [ngClass]="{
                                                        'date-interval-day': true,
                                                        'is-not-current': !day.isCurrentMonth,
                                                        'is-first-day': getTimestamp(day.date, month1.monthName, month1.year) === getDate(fromDate).valueOf(),
                                                        'is-last-day': getTimestamp(day.date, month1.monthName, month1.year) === getDate(toDate).valueOf(),
                                                        'is-in-interval-day': getDate(fromDate).valueOf() <= getTimestamp(day.date, month1.monthName, month1.year) 
                                                            && getTimestamp(day.date, month1.monthName, month1.year) <= getDate(toDate).valueOf(),
                                                        'disabled': getTimestamp(day.date, month1.monthName, month1.year) < getDate(currentDate).valueOf()
                                                    }" type="button" [disabled]="getTimestamp(day.date, month1.monthName, month1.year) < getDate(currentDate).valueOf()"
                                                (click)="selectDateInterval(day.date, month1.monthName, month1.year)">
                                                <span [ngClass]="{'disabled': getTimestamp(day.date, month1.monthName, month1.year) < getDate(currentDate).valueOf()}">{{day.date}}</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="date-interval-column date-interval-secondary">
                        <div class="date-interval-month">
                            <span class="date-interval-month-btn">
                            </span>
                            <span class="date-interval-month-label">
                                {{month2.monthName}} {{month2.year}}
                            </span>
                            <span class="date-interval-month-btn">
                                <button class="icon-wn-arrow-right" type="button" (click)="nextMonth()">
                                    <i class="icon-angle-right"></i>
                                </button>
                            </span>
                        </div>
                        <div class="date-interval-calendar">
                            <table>
                                <thead class="date-interval-calendar__head">
                                    <tr>
                                        <td *ngFor="let day of tableDays">{{day}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let week of month2.calendar">
                                        <td *ngFor="let day of week">
                                            <button [ngClass]="{
                                                        'date-interval-day': true,
                                                        'is-not-current': !day.isCurrentMonth,
                                                        'is-first-day': getTimestamp(day.date, month2.monthName, month2.year) === getDate(fromDate).valueOf(),
                                                        'is-last-day': getTimestamp(day.date, month2.monthName, month2.year) === getDate(toDate).valueOf(),
                                                        'is-in-interval-day': getDate(fromDate).valueOf() <= getTimestamp(day.date, month2.monthName, month2.year) 
                                                            && getTimestamp(day.date, month2.monthName, month2.year) <= getDate(toDate).valueOf(),
                                                        'disabled': getTimestamp(day.date, month2.monthName, month2.year) < getDate(currentDate).valueOf()
                                                    }" [disabled]="getTimestamp(day.date, month2.monthName, month2.year) < getDate(currentDate).valueOf()"
                                                type="button" (click)="selectDateInterval(day.date, month2.monthName, month2.year)">
                                                <span [ngClass]="{'disabled': getTimestamp(day.date, month2.monthName, month2.year) < getDate(currentDate).valueOf()}">{{day.date}}</span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="reveal-footer">
                    <button class="reveal-footer-button" type="button" (click)="save()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>