
.markdown-content {
    min-height: 530px;
    width: calc(100% - 60px);
    margin: 30px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    &__view {
        width: 100%;
        max-height: 480px;
        overflow-y: auto;
    }
    &__edit {
        border-right: 1px solid #ced4da;
        width: 100%;
    }
}

.textarea {
    border: none;
    width: 100%;
    height: 480px;
    padding: 0;
    font-size: 11pt;
}

.actions {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    height: auto;
    position: absolute;
    right: 60px;
    top: 35px;
    z-index: 100;
    &-button {
        color: rgba(6, 57, 88, 0.5) ;
    }
}