<div class="markdown-content">
    <ul class="actions">
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addBold(textAreaWriter)" 
                matTooltip="{{ 'MARKDOWN.BOLD_TEXT' | translate }}"
                [matTooltipPosition]="'above'"
            >
               <strong class="actions-button">B</strong>
            </button>
        </li>
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addItalic(textAreaWriter)"
                matTooltip="{{ 'MARKDOWN.ITALIC_TEXT' | translate }}"
                [matTooltipPosition]="'above'"
            >
                <span class="actions-button" style="font-style: italic;">I</span>
            </button>
        </li>
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addQuote(textAreaWriter)"
                matTooltip="{{ 'MARKDOWN.QUOTE' | translate }}"
                [matTooltipPosition]="'above'"
            >
                <mat-icon>format_quote</mat-icon>
            </button>
        </li>
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addCode(textAreaWriter)"
                matTooltip="{{ 'MARKDOWN.CODE' | translate }}"
                [matTooltipPosition]="'above'"
            >
                <span class="actions-button">
                    < / >
                </span>
            </button>
        </li>
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addBulletList(textAreaWriter)"
                matTooltip="{{ 'MARKDOWN.BULLET_LIST' | translate }}"
                [matTooltipPosition]="'above'"
            >
                <mat-icon>format_list_bulleted</mat-icon>
            </button>
        </li>
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addNumberedList(textAreaWriter)"
                matTooltip="{{ 'MARKDOWN.NUMBERED_LIST' | translate }}"
                [matTooltipPosition]="'above'"
            >
                <mat-icon>format_list_numbered</mat-icon>
            </button>
        </li>
        <li class="md-header-toolbar active">
            <button mat-icon-button (click)="addTaskList(textAreaWriter)"
                matTooltip="{{ 'MARKDOWN.TASK_LIST' | translate }}"
                [matTooltipPosition]="'above'"
            >
                <mat-icon>check_box_outlined</mat-icon>
            </button>
        </li>
    </ul>
    <mat-tab-group>
        <mat-tab label="Write"> 
            <div class="markdown-content__edit">
                <textarea
                    #textAreaWriter
                    class="textarea"
                    [disabled]="false"
                    [required]="true"
                    [readonly]="readonly"
                    (ngModelChange)="onChangeData($event)"
                    [(ngModel)]="data"></textarea>
            </div>
        </mat-tab>
        <mat-tab label="Preview"> 
            <div class="markdown-content__view">
                <ngx-md [data]="data"></ngx-md>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
