.toolbar {
    position: fixed;
    top: 0;
    height: 80px;
    background-color: #0f3a58;
    color: #fff;
    z-index: 5;
}

.logo-glass {
    font-size: 30px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0 !important;
}

.logo-img {
    float: left;
    height: auto;
    width: 160px;
}

.logo-col {
    padding-left: 15px;
    float: left;
    width: 170px;
}

.social-col {
    float: right;
    width: 20%;
    padding-right: 15px;
    height: 60px;
}

.logo-link{
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 4px;
    display: block;
    width: 240px;
}

// .claim-button-container {
//     display: -webkit-inline-flex;
//     display: inline-flex;
//     -webkit-justify-content: flex-end;
//     justify-content: flex-end;
//     width: calc(75% - 112px);
// }

.claim-button {
    // color: rgba(0, 0, 0, 0.5) !important;
    color: transparent !important;
    font-weight: bold;
    line-height: 55px;
    background-color: rgba(0, 0, 0, 0.6) !important;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    cursor: pointer;
    display: inline;
    &:hover {
        background-color: #1DA1F2 !important;
    }
}

.yamm {
    background-image: url('/assets/img/header.png')
}

.navbar-default {
    min-height: 78px !important;
}

.twitter i:hover {
    // color:#1DA1F2 !important;
	background-color: #f9b92f !important;
}

.facebook i:hover {
    // color:#3B5998 !important;
    background-color: #f9b92f !important;
}

.linkedin i:hover {
    // color:#0077B5 !important;
    background-color: #f9b92f !important;
}

// @media (max-width: 1280px) {
//     .claim-button-container {
//         width: calc(75% - 170px);
//     }
// }

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

// @media (max-width: 599px) {
//     .logo-img {
//         width: 50px;
//     }

//     .claim-button-container {
//         width: calc(100% - 192px);
//         justify-content: center;
//     }

//     .logo-col {
//         width: 65px;
//     }
// }

@media (max-width: 360px) {
    .logo-col {
        padding-left: 10px;
    }

    .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}