<mat-toolbar class="mat-elevation-z1 toolbar">
    <div class="container">
        <div class="row">
            <div class="logo-col">
                <a [routerLink]="['/']" class="logo-button">
                    <img class="logo-img" [src]="'assets/img/logo.png'">
                </a>
            </div>
            
            <div class="social-col">
                <ul class="footer_social">
                    <li>
                        <a class="twitter" href="https://twitter.com/_glasscube" target="_blank">
                            <i class="icon icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="https://www.facebook.com/glasscube/" target="_blank">
                            <i class="icon icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a class="linkedin" href="https://www.linkedin.com/company/glass-cube/" target="_blank">
                            <i class="icon icon-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</mat-toolbar>
